<mat-card
  class="check-card mat-elevation-z2"
  style="cursor: pointer"
  [ngClass]="cardClass"
  (click)="openModal()"
>
  <mat-card-title>ตรวจยาซ้ำซ้อน</mat-card-title>
  <mat-card-content> สถานะ: {{ allergyStatus }} </mat-card-content>
</mat-card>

<!-- <div
  class="modal fade"
  [id]="modalId"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title">duplicateDrug</h1>
        <button type="button" class="close" (click)="closeModal()">
          <span>&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <mat-accordion multi>
          <ng-container
            *ngFor="let key of ['condition1', 'condition2', 'condition3']"
          >
            <mat-expansion-panel *ngIf="data[key]?.length" class="mb-3"
              >`
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon [color]="conditionMeta[key].color">
                    {{ conditionMeta[key].icon }}
                  </mat-icon>
                  &nbsp; {{ conditionMeta[key].title }}
                </mat-panel-title>
                <mat-panel-description>
                  พบ {{ data[key].length }} รายการ
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="responsive-table">
                <section
                  class="example-container mat-elevation-z8"
                  tabindex="0"
                >
                  <table
                    mat-table
                    [dataSource]="data[key]"
                    class="mat-elevation-z2 w-100"
                  >
                    <ng-container matColumnDef="currentDrug">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        ยาปัจจุบัน
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        <strong>{{ row.currentDrugName }}</strong>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="currentQty">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        ปริมาณ
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        {{ row.currentQty }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="currentUnit">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        หน่วย
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        {{ row.currentUnit }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="currentSite">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        สถานที่
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        {{ row.currentSite }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="currentMedHow">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        วิธีใช้
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        {{ row.currentMedHow }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="groupName">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        กลุ่มยา
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        {{ row.groupName }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="duplicate">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        ยาที่พบซ้ำ
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        <div
                          *ngFor="let d of row.foundToday || row.foundHistory"
                        >
                          <mat-chip color="warn" selected>
                            {{ d.invName || d.duplicateDrug }}
                          </mat-chip>
                        </div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="duplicateQty">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        ปริมาณ
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        <div *ngFor="let d of row.foundHistory">
                          {{ d.duplicateQty }}
                        </div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="duplicateUnit">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        หน่วย
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        <div *ngFor="let d of row.foundHistory">
                          {{ d.duplicateUnit }}
                        </div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="duplicateSite">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        สถานที่
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        <div *ngFor="let d of row.foundHistory">
                          {{ d.duplicateSite }}
                        </div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="duplicateMedHow">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        วิธีใช้
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        <div *ngFor="let d of row.foundHistory">
                          {{ d.duplicateMedHow }}
                        </div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="lastDate">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        วันที่ล่าสุด
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        <div *ngFor="let d of row.foundHistory">
                          {{ d.lastDate }}
                        </div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="daysDiff">
                      <th class="text-nowrap" mat-header-cell *matHeaderCellDef>
                        ห่าง (วัน)
                      </th>
                      <td class="text-nowrap" mat-cell *matCellDef="let row">
                        <div *ngFor="let d of row.foundHistory">
                          <span class="badge badge-danger">
                            {{ d.daysDiff }} วัน
                          </span>
                        </div>
                      </td>
                    </ng-container>

                    <tr
                      mat-header-row
                      *matHeaderRowDef="conditionMeta[key].columns"
                    ></tr>

                    <tr
                      mat-row
                      *matRowDef="let row; columns: conditionMeta[key].columns"
                    ></tr>
                  </table>
                </section>
              </div>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>

        <button
          *ngIf="
            patient?.finalResult?.duplicatemed?.result?.drug_interaction_status
          "
          class="btn btn-primary"
          (click)="onConfirm()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div> -->
<div
  class="modal fade"
  [id]="modalId"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content border-0 shadow-lg">
      <div class="modal-header bg-white align-items-center py-3">
        <h5
          class="modal-title d-flex align-items-center font-weight-bold text-dark"
        >
          <mat-icon
            class="text-danger mr-2"
            style="font-size: 28px; width: 28px; height: 28px"
            >report_problem</mat-icon
          >
          ตรวจสอบรายการยาซ้ำซ้อน
        </h5>
        <button type="button" class="close" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="modal-body bg-light p-4">
        <mat-accordion multi>
          <ng-container
            *ngFor="let key of ['condition1', 'condition2', 'condition3']"
          >
            <mat-expansion-panel
              *ngIf="data[key]?.length"
              class="mb-4 shadow-sm"
              [expanded]="true"
            >
              <mat-expansion-panel-header class="py-3">
                <mat-panel-title class="align-items-center">
                  <mat-icon [color]="conditionMeta[key].color" class="mr-2">{{
                    conditionMeta[key].icon
                  }}</mat-icon>
                  <span class="h6 mb-0 font-weight-bold">{{
                    conditionMeta[key].title
                  }}</span>
                </mat-panel-title>
                <mat-panel-description
                  class="justify-content-end text-danger font-weight-bold"
                >
                  พบ {{ data[key].length }} รายการ
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="table-responsive">
                <table mat-table [dataSource]="data[key]" class="w-100">
                  <ng-container matColumnDef="currentSide">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="text-primary border-0"
                    >
                      รายการยาปัจจุบัน
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <div class="drug-item-box">
                        <div class="drug-title">{{ row.currentDrugName }}</div>
                        <div class="meta-row">
                          <span class="label-pill bg-primary text-white">
                            กลุ่มยา: {{ row.groupName }}</span
                          >
                          &nbsp;
                          <span class="label-pill"
                            ><mat-icon style="font-size: 12px; width: 15px"
                              >location_on</mat-icon
                            >{{ row.currentSite }}</span
                          >
                        </div>
                        <div class="usage-info mt-2">
                          <strong>ปริมาณ:</strong> {{ row.currentQty }}
                          {{ row.currentUnit }} <br />
                          <strong>วิธีใช้:</strong> {{ row.currentMedHow }}
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="duplicateSide">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="text-danger border-0"
                    >
                      รายการที่พบซ้ำ / ประวัติ
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <div
                        *ngFor="let d of row.foundToday || row.foundHistory"
                        class="drug-item-box mb-3 p-2 border-left-danger shadow-sm bg-white rounded"
                      >
                        <div
                          class="duplicate-title d-flex justify-content-between"
                        >
                          <span class="bg-danger text-white">{{
                            d.invName || d.duplicateDrug
                          }}</span>
                          <span *ngIf="d.daysDiff" class="badge badge-danger"
                            >ห่าง {{ d.daysDiff }} วัน</span
                          >
                        </div>
                        <div class="meta-row">
                          <span class="label-pill"
                            ><mat-icon style="font-size: 12px; width: 15px"
                              >event</mat-icon
                            >
                            {{
                              (d.lastDate
                                | date: "dd/MM/yyyy HH:mm:ss" : "UTC") ||
                                "วันนี้"
                            }}</span
                          >
                          &nbsp; &nbsp;
                          <span class="label-pill"
                            ><mat-icon style="font-size: 12px; width: 15px"
                              >location_on</mat-icon
                            >{{ d.duplicateSite }}</span
                          >
                        </div>
                        <div
                          class="usage-info mt-2"
                          style="background: rgba(217, 48, 37, 0.05)"
                        >
                          <strong>ปริมาณ:</strong>
                          {{ d.duplicateQty || row.currentQty }}
                          {{ d.duplicateUnit || row.currentUnit }} <br />
                          <strong>วิธีใช้:</strong>
                          {{ d.duplicateMedHow || row.currentMedHow }}
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="['currentSide', 'duplicateSide']"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: ['currentSide', 'duplicateSide']
                    "
                  ></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>

        <button
          *ngIf="
            patient?.finalResult?.duplicatemed?.result?.drug_interaction_status
          "
          class="btn btn-primary"
          (click)="onConfirm()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
