<!-- <div class="container mt-2">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <a href="https://www.w3schools.com" target="_blank">
      <div class="card card-block">

    <img  style="text-align: center;" src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
        <h5 class="card-title mt-3 mb-3" style="text-align: center;">ระบบจ่ายยา</h5>

  </div>
</a>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">

    <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
        <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
  </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">

    <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
        <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>

  </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">

    <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
        <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>

  </div>
    </div>
  </div>

  </div> -->

<div class="box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="box-part text-center">
          <i class="fas fa-ambulance fa-5x"></i>

          <div class="title">
            <h4></h4>
          </div>

          <a href="http://192.168.185.160/web-interface/#/" target="_blank"
            >ระบบจ่ายยา</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="box-part text-center">
          <i class="fas fa-hospital-user fa-5x"></i>
          <div class="title">
            <h4></h4>
          </div>

          <a href="http://192.168.185.160/dashboard/#/opdqueue" target="_blank"
            >ระบบเวลาคิวผู้ป่วย</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="box-part text-center">
          <i class="fas fa-hand-holding-medical fa-5x"></i>

          <div class="title">
            <h4></h4>
          </div>

          <a href="http://192.168.185.160/OnHand" target="_blank"
            >ระบบ On Hand</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="box-part text-center">
          <i class="fas fa-first-aid fa-5x"></i>
          <div class="title">
            <h4></h4>
          </div>

          <a href="http://192.168.185.160/dashboard/#/opdstock" target="_blank"
            >ระบบ Stock SE-Med</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="box-part text-center" [ngStyle]="test">
          <i class="fas fa-shopping-basket fa-5x"></i>

          <div class="title">
            <h4></h4>
          </div>

          <a href="http://192.168.185.160/BasketShelf/" target="_blank"
            >ระบบชั้นวางยารอจ่ายยาผู้ป่วย</a
          >
        </div>
      </div>
      <div
        class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
        *ngIf="dataUser == 'admin'"
      >
        <div class="box-part text-center" [ngStyle]="test">
          <i class="fas fa-tasks fa-5x"></i>

          <div class="title">
            <h4></h4>
          </div>

          <a href="http://192.168.185.102:8790/DIH_PMPFSite/" target="_blank"
            >ระบบจัดการ DIH</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="box-part text-center" [ngStyle]="test">
          <i class="fas fa-chart-pie fa-5x"></i>

          <div class="title">
            <h4></h4>
          </div>

          <a href="http://192.168.185.160/RobotAnalysis/#/" target="_blank"
            >ระบบวิเคราะห์การจ่ายยา Robot</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="box-part text-center" [ngStyle]="test">
          <i class="fas fa-pills fa-5x"></i>

          <div class="title">
            <h4></h4>
          </div>

          <a href="http://192.168.185.160/dashboard/#/drugimage" target="_blank"
            >ระบบดูรูปยา</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
