th {
  z-index: 1 !important;
}

::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  color: #3f51b5;
  font-weight: bold;
}

.mat-column-EXP_Date {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-LOT_NO	 {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 13% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

table{
  width: 100%;
}
// .mat-column-Column {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 28% !important;
//   width: 28% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

//  th{
//   border-right: 1px solid #E0E0E0;
//   background-color: #e7e4e488;
//   padding-left: 50px;
// }
//  td{
//   border-right: 1px solid #E0E0E0;
// }

// .example-container {
//   overflow-x: scroll !important;
// }

// .mat-table {
//   overflow-x: scroll !important;
// }

// .mat-cell,
// .mat-header-cell {
//   word-wrap: initial !important;
//   display: table-cell !important;
//   padding: 0px 10px !important;
//   line-break: unset !important;
//   width: 100% !important;
//   white-space: nowrap !important;
//   overflow: hidden !important;
//   vertical-align: middle !important;
// }

// .mat-row,
// .mat-header-row {
//   display: table-row !important;
// }
