<div style="overflow: auto; margin: 10px">
  <div class="row">
    <div class="col-lg-9">
      <mat-form-field class="example-form-field">
        <mat-label>Enter EXP Date</mat-label>
        <mat-date-range-input
          [formGroup]="campaignOne"
          [rangePicker]="campaignOnePicker"
        >
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matSuffix
          [for]="campaignOnePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>

      <button
        (click)="valuechange()"
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>check_circle</mat-icon>
      </button>
      <button
        (click)="clearValue()"
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="col-lg-3">
      <mat-form-field class="example-full-width" style="float: right">
        <input matInput (keyup)="applyFilter($event)" #input />
        <mat-placeholder>ค้นหา</mat-placeholder>
        <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="responsive-table">
    <table
      mat-table
      matTableExporter
      [dataSource]="dataSource"
      matSort
      #exporter="matTableExporter"
      class="mat-elevation-z8"
      matSortActive="drugCode"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="drugCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.drugCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="drugName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.drugName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="miniUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.miniUnit }}
        </td>
      </ng-container>

      <ng-container matColumnDef="deviceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Device Name</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.deviceName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="positionID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.positionID }}
        </td>
      </ng-container>

      <ng-container matColumnDef="LOT_NO">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="padding-left: 20px"
        >
          LOT_NO
        </th>
        <td mat-cell *matCellDef="let data">
          <span
            Style="padding-left:10px;padding-top:17px"
            *ngFor="let item of data.LOT_NO"
            >{{ item }}<br *ngIf="data.LOT_NO.length - 1" />
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="EXP_Date">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="padding-left: 20px"
        >
          EXP_Date
        </th>
        <td mat-cell *matCellDef="let data">
          <span
            Style="padding-left:10px;padding-top:17px"
            *ngFor="let item of data.EXP_Date"
            >{{ item }}<br *ngIf="data.EXP_Date.length - 1" />
            <hr *ngIf="data.EXP_Date.length - 1"
          /></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="qty">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="padding-left: 20px"
        >
          amount
        </th>
        <td mat-cell *matCellDef="let data">
          <span
            Style="padding-left:10px;padding-top:17px"
            *ngFor="let item of data.qty"
            >{{ item }}<br *ngIf="data.qty.length - 1" />
            <hr *ngIf="data.qty.length - 1"
          /></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef>image</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="text-align: center; width: 150px"
        >
          <img
            *ngIf="!element.pathImage"
            src="https://www.cstservices.com/wp-content/uploads/2019/09/image-not-available.png"
            width="130"
            height="115"
            style="padding: 5px; cursor: none"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px; width: 150px"
        >
          <button
            *ngIf="dataUser == 'admin'"
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-backdrop="static"
            data-keyboard="false"
            data-target="#myModal"
            (click)="edit(element.drugCode)"
          >
            <i class="fas fa-upload"></i>&nbsp; Upload
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div style="float: right">
      <button mat-raised-button color="primary" (click)="exportAsExcelFile()">
        Export Excel
      </button>
    </div>

    <mat-paginator
      style="display: flex; justify-content: center"
      [length]="5"
      [pageSize]="5"
      [pageSizeOptions]="[5, 50, 100]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Image</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div class="col-md-10">
          <span><a href="#" (click)="compressFile()"></a></span>
        </div>
        <img
          *ngIf="imageSrc && !imgResultAfterCompress"
          [src]="imageSrc"
          alt=""
          height="500"
          width="400"
        />
        <img
          *ngIf="imgResultAfterCompress && !imageSrc"
          [src]="imgResultAfterCompress"
          alt=""
          height="500"
          width="400"
        />

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="sendImage()">
            Submit
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="closeImg()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered" id="excel-table" hidden>
  <thead class="thead-dark">
    <tr>
      <th>drugCode</th>
      <th>drugName</th>
      <th>miniUnit</th>
      <th>deviceName</th>
      <th>positionID</th>
      <th>LOT_NO</th>
      <th>EXP_Date</th>
      <th>qty</th>
    </tr>
  </thead>
  <ng-container *ngFor="let data of dataA">
    <ng-container *ngFor="let LOT_NO of data.LOT_NO; let i = index">
      <tr>
        <td *ngIf="i == 0" [attr.rowspan]="data.LOT_NO.length">
          {{ data.drugCode }}
        </td>
        <td *ngIf="i == 0" [attr.rowspan]="data.LOT_NO.length">
          {{ data.drugName }}
        </td>
        <td *ngIf="i == 0" [attr.rowspan]="data.LOT_NO.length">
          {{ data.miniUnit }}
        </td>
        <td *ngIf="i == 0" [attr.rowspan]="data.LOT_NO.length">
          {{ data.deviceName }}
        </td>

        <td *ngIf="i == 0" [attr.rowspan]="data.LOT_NO.length">
          {{ data.positionID }}
        </td>
        <td>{{ LOT_NO }}</td>
        <td>{{ data.EXP_Date[i] }}</td>
        <td>{{ data.qty[i] }}</td>
      </tr>
    </ng-container>
  </ng-container>
</table>
