.modal-confirm {
  color: #636363;
  width: 550px;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header {
  padding: 0 15px;
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  display: inline-block;
  font-size: 26px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-confirm .modal-body {
  color: #999;
}

.modal-confirm .modal-footer {
  background: #ecf0f1;
  border-color: #e6eaec;
  text-align: right;
  margin: 0 -20px -20px;
  border-radius: 0 0 5px 5px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  transition: all 0.4s;
  border: none;
  padding: 8px 20px;
  outline: none !important;
}

.modal-confirm .btn-info {
  background: #b0c1c6;
}

.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
  background: #92a9af;
}

.modal-confirm .btn-danger {
  background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #ee3535;
}

.modal-confirm .modal-footer .btn + .btn {
  margin-left: 10px;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}

span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}

span a:before,
a:after {
  position: absolute;
  content: "UPLOAD";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

span a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

table {
  width: 100%;
}

.example-container {
  max-width: 100%;
  overflow: auto;
}
@media only screen and (max-width: 600px) {
  .example-container {
    height: 400px;
  }
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
