table {
  width: 100%;
}

//  th{
//   background-color: #e7e4e488;
// }
th {
  border-right: 1px solid #E0E0E0;
  text-align: center;
  background-color: #e7e4e488;
  padding-left: 10px !important;

}

td {
  border-right: 1px solid #E0E0E0;
}

mat-accordion {
  flex-grow: 1;
}

h1 {
  font-family: "Sarabun", serif !important;
}

::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  color: #053742;
  font-weight: bold;
}
