<div class="display pt-2 pl-2 pr-2 pb-2">
  <div class="card pt-2 pl-2 pr-2 pb-2">
    <div id="table-wrapper">
      <div id="table-scroll">
        <div class="center h6 mt-1">
          {{ time | date: "d MMMM y" }} {{ time | date: "HH:mm:ss" }}
        </div>
        <table class="table table-bordered table-striped center" #table>
          <thead>
            <tr>
              <th scope="col" rowspan="2">ลำดับ</th>
              <th scope="col" rowspan="2">ผู้จัดยา</th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 800">
                08:01 - 08:30
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 830">
                08:31 - 09:00
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 900">
                09:01 - 09:30
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 930">
                09:31 - 10:00
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1000">
                10:01 - 10:30
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1030">
                10:31 - 11:00
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1100">
                11:01 - 11:30
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1130">
                11:31 - 12:00
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1200">
                12:01 - 12:30
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1230">
                12:31 - 13:00
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1300">
                13:01 - 13:30
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1330">
                13:31 - 14:00
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1400">
                14:01 - 14:30
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1430">
                14:01 - 15:00
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1500">
                15:01 - 15:30
              </th>
              <th scope="col" colspan="3" *ngIf="firstTime >= 1530">
                15:31 - 16:00
              </th>
              <th scope="col" colspan="3">รวม</th>
            </tr>
            <tr>
              <th scope="col" *ngIf="firstTime >= 800">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 800">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 800">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 830">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 830">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 830">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 900">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 900">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 900">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 930">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 930">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 930">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1000">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1000">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1000">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1030">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1030">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1030">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1100">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1100">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1100">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1130">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1130">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1130">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1200">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1200">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1200">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1230">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1230">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1230">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1300">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1300">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1300">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1330">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1330">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1330">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1400">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1400">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1400">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1430">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1430">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1430">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1500">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1500">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1500">เวลาเฉลี่ย</th>
              <th scope="col" *ngIf="firstTime >= 1530">ใบสั่งยา</th>
              <th scope="col" *ngIf="firstTime >= 1530">รายการยา</th>
              <th scope="col" *ngIf="firstTime >= 1530">เวลาเฉลี่ย</th>
              <th scope="col">ใบสั่งยา</th>
              <th scope="col">รายการยา</th>
              <th scope="col">เวลาเฉลี่ย</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of dataInfo; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="left">{{ x.staffCode }} {{ x.staffName }}</td>
              <td *ngIf="firstTime >= 800">{{ x.order_8 }}</td>
              <td *ngIf="firstTime >= 800">{{ x.item_8 }}</td>
              <td *ngIf="firstTime >= 800">{{ x.avg_8 }}</td>
              <td *ngIf="firstTime >= 830">{{ x.order_83 }}</td>
              <td *ngIf="firstTime >= 830">{{ x.item_83 }}</td>
              <td *ngIf="firstTime >= 830">{{ x.avg_83 }}</td>
              <td *ngIf="firstTime >= 900">{{ x.order_9 }}</td>
              <td *ngIf="firstTime >= 900">{{ x.item_9 }}</td>
              <td *ngIf="firstTime >= 900">{{ x.avg_9 }}</td>
              <td *ngIf="firstTime >= 903">{{ x.order_93 }}</td>
              <td *ngIf="firstTime >= 930">{{ x.item_93 }}</td>
              <td *ngIf="firstTime >= 930">{{ x.avg_93 }}</td>
              <td *ngIf="firstTime >= 1000">{{ x.order_10 }}</td>
              <td *ngIf="firstTime >= 1000">{{ x.item_10 }}</td>
              <td *ngIf="firstTime >= 1000">{{ x.avg_10 }}</td>
              <td *ngIf="firstTime >= 1030">{{ x.order_103 }}</td>
              <td *ngIf="firstTime >= 1030">{{ x.item_103 }}</td>
              <td *ngIf="firstTime >= 1030">{{ x.avg_103 }}</td>
              <td *ngIf="firstTime >= 1100">{{ x.order_11 }}</td>
              <td *ngIf="firstTime >= 1100">{{ x.item_11 }}</td>
              <td *ngIf="firstTime >= 1100">{{ x.avg_11 }}</td>
              <td *ngIf="firstTime >= 1130">{{ x.order_113 }}</td>
              <td *ngIf="firstTime >= 1130">{{ x.item_113 }}</td>
              <td *ngIf="firstTime >= 1130">{{ x.avg_113 }}</td>
              <td *ngIf="firstTime >= 1200">{{ x.order_12 }}</td>
              <td *ngIf="firstTime >= 1200">{{ x.item_12 }}</td>
              <td *ngIf="firstTime >= 1200">{{ x.avg_12 }}</td>
              <td *ngIf="firstTime >= 1230">{{ x.order_123 }}</td>
              <td *ngIf="firstTime >= 1230">{{ x.item_123 }}</td>
              <td *ngIf="firstTime >= 1230">{{ x.avg_123 }}</td>
              <td *ngIf="firstTime >= 1300">{{ x.order_13 }}</td>
              <td *ngIf="firstTime >= 1300">{{ x.item_13 }}</td>
              <td *ngIf="firstTime >= 1300">{{ x.avg_13 }}</td>
              <td *ngIf="firstTime >= 1330">{{ x.order_133 }}</td>
              <td *ngIf="firstTime >= 1330">{{ x.item_133 }}</td>
              <td *ngIf="firstTime >= 1330">{{ x.avg_133 }}</td>
              <td *ngIf="firstTime >= 1400">{{ x.order_14 }}</td>
              <td *ngIf="firstTime >= 1400">{{ x.item_14 }}</td>
              <td *ngIf="firstTime >= 1400">{{ x.avg_14 }}</td>
              <td *ngIf="firstTime >= 1430">{{ x.order_143 }}</td>
              <td *ngIf="firstTime >= 1430">{{ x.item_143 }}</td>
              <td *ngIf="firstTime >= 1430">{{ x.avg_143 }}</td>
              <td *ngIf="firstTime >= 1500">{{ x.order_15 }}</td>
              <td *ngIf="firstTime >= 1500">{{ x.item_15 }}</td>
              <td *ngIf="firstTime >= 1500">{{ x.avg_15 }}</td>
              <td *ngIf="firstTime >= 1530">{{ x.order_153 }}</td>
              <td *ngIf="firstTime >= 1530">{{ x.item_153 }}</td>
              <td *ngIf="firstTime >= 1530">{{ x.avg_153 }}</td>
              <td>{{ x.order_sum }}</td>
              <td>{{ x.item_sum }}</td>
              <td>{{ x.avg_sum }}</td>
            </tr>
            <tr>
              <th colspan="2">รวม / เฉลี่ย</th>
              <th *ngIf="firstTime >= 800">{{ sumOders[0] }}</th>
              <th *ngIf="firstTime >= 800">{{ sumItems[0] }}</th>
              <th *ngIf="firstTime >= 800">{{ avgTime[0] }}</th>
              <th *ngIf="firstTime >= 830">{{ sumOders[1] }}</th>
              <th *ngIf="firstTime >= 830">{{ sumItems[1] }}</th>
              <th *ngIf="firstTime >= 830">{{ avgTime[1] }}</th>
              <th *ngIf="firstTime >= 900">{{ sumOders[2] }}</th>
              <th *ngIf="firstTime >= 900">{{ sumItems[2] }}</th>
              <th *ngIf="firstTime >= 900">{{ avgTime[2] }}</th>
              <th *ngIf="firstTime >= 930">{{ sumOders[3] }}</th>
              <th *ngIf="firstTime >= 930">{{ sumItems[3] }}</th>
              <th *ngIf="firstTime >= 930">{{ avgTime[3] }}</th>
              <th *ngIf="firstTime >= 1000">{{ sumOders[4] }}</th>
              <th *ngIf="firstTime >= 1000">{{ sumItems[4] }}</th>
              <th *ngIf="firstTime >= 1000">{{ avgTime[4] }}</th>
              <th *ngIf="firstTime >= 1030">{{ sumOders[5] }}</th>
              <th *ngIf="firstTime >= 1030">{{ sumItems[5] }}</th>
              <th *ngIf="firstTime >= 1030">{{ avgTime[5] }}</th>
              <th *ngIf="firstTime >= 1100">{{ sumOders[6] }}</th>
              <th *ngIf="firstTime >= 1100">{{ sumItems[6] }}</th>
              <th *ngIf="firstTime >= 1100">{{ avgTime[6] }}</th>
              <th *ngIf="firstTime >= 1130">{{ sumOders[7] }}</th>
              <th *ngIf="firstTime >= 1130">{{ sumItems[7] }}</th>
              <th *ngIf="firstTime >= 1130">{{ avgTime[7] }}</th>
              <th *ngIf="firstTime >= 1200">{{ sumOders[8] }}</th>
              <th *ngIf="firstTime >= 1200">{{ sumItems[8] }}</th>
              <th *ngIf="firstTime >= 1200">{{ avgTime[8] }}</th>
              <th *ngIf="firstTime >= 1230">{{ sumOders[9] }}</th>
              <th *ngIf="firstTime >= 1230">{{ sumItems[9] }}</th>
              <th *ngIf="firstTime >= 1230">{{ avgTime[9] }}</th>
              <th *ngIf="firstTime >= 1300">{{ sumOders[10] }}</th>
              <th *ngIf="firstTime >= 1300">{{ sumItems[10] }}</th>
              <th *ngIf="firstTime >= 1300">{{ avgTime[10] }}</th>
              <th *ngIf="firstTime >= 1330">{{ sumOders[11] }}</th>
              <th *ngIf="firstTime >= 1330">{{ sumItems[11] }}</th>
              <th *ngIf="firstTime >= 1330">{{ avgTime[11] }}</th>
              <th *ngIf="firstTime >= 1400">{{ sumOders[12] }}</th>
              <th *ngIf="firstTime >= 1400">{{ sumItems[12] }}</th>
              <th *ngIf="firstTime >= 1400">{{ avgTime[12] }}</th>
              <th *ngIf="firstTime >= 1430">{{ sumOders[13] }}</th>
              <th *ngIf="firstTime >= 1430">{{ sumItems[13] }}</th>
              <th *ngIf="firstTime >= 1430">{{ avgTime[13] }}</th>
              <th *ngIf="firstTime >= 1500">{{ sumOders[14] }}</th>
              <th *ngIf="firstTime >= 1500">{{ sumItems[14] }}</th>
              <th *ngIf="firstTime >= 1500">{{ avgTime[14] }}</th>
              <th *ngIf="firstTime >= 1530">{{ sumOders[15] }}</th>
              <th *ngIf="firstTime >= 1530">{{ sumItems[15] }}</th>
              <th *ngIf="firstTime >= 1530">{{ avgTime[15] }}</th>
              <th>{{ allSumOrder }}</th>
              <th>{{ allSumItem }}</th>
              <th>{{ allSumAvg }}</th>
            </tr>
            <tr>
              <th colspan="2">จำนวนผู้จัดยา / ฐานนิยม</th>
              <th *ngIf="firstTime >= 800">{{ n[0] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 800">
                {{ minMood[0] }} - {{ maxMood[0] }} รายการ
              </th>
              <th *ngIf="firstTime >= 830">{{ n[1] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 830">
                {{ minMood[1] }} - {{ maxMood[1] }} รายการ
              </th>
              <th *ngIf="firstTime >= 900">{{ n[2] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 900">
                {{ minMood[2] }} - {{ maxMood[2] }} รายการ
              </th>
              <th *ngIf="firstTime >= 930">{{ n[3] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 930">
                {{ minMood[3] }} - {{ maxMood[3] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1000">{{ n[4] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1000">
                {{ minMood[4] }} - {{ maxMood[4] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1030">{{ n[5] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1030">
                {{ minMood[5] }} - {{ maxMood[5] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1100">{{ n[6] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1100">
                {{ minMood[6] }} - {{ maxMood[6] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1130">{{ n[7] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1130">
                {{ minMood[7] }} - {{ maxMood[7] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1200">{{ n[8] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1200">
                {{ minMood[8] }} - {{ maxMood[8] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1230">{{ n[9] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1230">
                {{ minMood[9] }} - {{ maxMood[9] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1300">{{ n[10] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1300">
                {{ minMood[10] }} - {{ maxMood[10] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1330">{{ n[11] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1330">
                {{ minMood[11] }} - {{ maxMood[11] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1400">{{ n[12] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1400">
                {{ minMood[12] }} - {{ maxMood[12] }} รายการ
              </th>
             
              <th *ngIf="firstTime >= 1430">{{ n[13] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1430">
                {{ minMood[13] }} - {{ maxMood[13] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1500">{{ n[14] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1500">
                {{ minMood[14] }} - {{ maxMood[14] }} รายการ
              </th>
              <th *ngIf="firstTime >= 1530">{{ n[15] }} คน</th>
              <th colspan="2" *ngIf="firstTime >= 1530">
                {{ minMood[15] }} - {{ maxMood[15] }} รายการ
              </th>

              <th colspan="3"></th>
            </tr>
          </tbody>
        </table>
        <div class="center mb-2 br-2">
          <button type="button" (click)="fireEvent()">Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>
