// .display{
//     height: 100vh;
//     background-color: aquamarine;
// }



.card {
  min-height: 100%;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#table-wrapper {
  position: relative;
}

#table-scroll {
  overflow: auto;
}

#table-wrapper table {
  width: 100%;
}

.border {
  border: 5px solid red;
}
