<!-- <div style="position: relative; width: 100vw; height: 100vh; overflow: hidden">
  <router-outlet></router-outlet>


</div>
<div class="footer">
  <h2>footer</h2>
</div> -->
<div class="testcontainer">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <span
      >Copyright &copy; by GD4 Co.,Ltd and Maharat Nakhon Ratchasima Hospital.
      All Rights Reserved.</span
    >
  </div>
</div>
<ngx-loading style="z-index: 9999" [show]="http.loading"></ngx-loading>
