.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app-content {
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
}

.footer {
  z-index: 1;
  flex-shrink: 0;
  flex-grow: 0;
  background: lightslategray;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  height: 40px;
  font-size: 12px;
}
