<mat-tab-group>
  <mat-tab label="รายงาน">
    <div class="display">
      <div class="container-fluid">


        <div class="row mt-2">
          <div class="col-12">
            <mat-card class="shadow">
              <h1 class="center">รายการยา OPD ชั้น 2</h1>
            </mat-card>
          </div>

        </div>

        <div class="row mt-2">
          <div class="col-7">
            <mat-card class="shadow">
              <div class="right">
                <mat-form-field class="mt-0">
                  <input matInput (keyup)="applyFilter($event)" #input />
                  <mat-placeholder>ค้นหา : INV/Code/Name</mat-placeholder>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
              <div [hidden]="listStock.length == 0">
                <table mat-table [dataSource]="dataSource1" #sort1="matSort" matSort class="" matTableExporter
                  matSortActive="drugName" matSortDirection="asc" #exporter="matTableExporter">

                  <ng-container matColumnDef="Row">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px">
                      Row
                    </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 20px; padding-right: 20px">
                      {{ element.Row }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="INV_Code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>INV</th>
                    <td mat-cell *matCellDef="let element" class="w-inv">
                      {{ element.INV_Code }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="drugCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>รหัสยา</th>
                    <td mat-cell *matCellDef="let element" class="">
                      {{ element.drugCode }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="drugName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อยา</th>
                    <td mat-cell *matCellDef="let element" class="">
                      {{ element.drugName }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      จำนวนคงเหลือ
                    </th>
                    <td mat-cell *matCellDef="let element" class="t-num right
                    {{
                      element.amount > 0
                        ? 'have'
                        : 'no'
                    }}">
                      {{ element.amount }}
                      <button type="button" class="btn btn-outline-primary btn-sm" (click)="ViewLot(element)">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </button>
                    </td>

                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
                </table>
                <mat-paginator #paginator1="matPaginator" style="display: flex; justify-content: center" [length]="10"
                  [pageSize]="10" showFirstLastButtons>
                </mat-paginator>
              </div>
            </mat-card>
          </div>

          <div class="col-5">
            <mat-card class="shadow">
              <h2 class="t-blue"><i class="fa fa-medkit" aria-hidden="true"></i> {{selectName}}</h2>
              <div [hidden]="listLot.length != 0">
                <div class="center">
                  <h1 style="color: #808080">ไม่มียาใน Stock !</h1>
                </div>

              </div>
              <div [hidden]="listLot.length == 0">
                <table mat-table [dataSource]="dataSource4" #sort4="matSort" matSort class="" matTableExporter
                  matSortActive="LOT_NO" matSortDirection="asc" #exporter="matTableExporter">
                  <ng-container matColumnDef="Row">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px">
                      Row
                    </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 20px; padding-right: 20px">
                      {{ element.Row }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="LOT_NO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>LOT. NO</th>
                    <td mat-cell *matCellDef="let element" class="">
                      {{ element.LOT_NO }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="EXP_Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>EXP. Date</th>
                    <td mat-cell *matCellDef="let element" class="">
                      {{ element.EXP_Date }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>จำนวน</th>
                    <td mat-cell *matCellDef="let element" class="right t-num">
                      {{ element.amount }}
                      <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                        data-target="#reportModal" data-backdrop="static" data-keyboard="false"
                        (click)="formAmountUpdate(element)">
                        <i class="fas fa-edit"></i>
                      </button>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่แก้ไขล่าสุด</th>
                    <td mat-cell *matCellDef="let element" class="center">
                      {{ element.date }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เวลา</th>
                    <td mat-cell *matCellDef="let element" class="center">
                      {{ element.time }}
                    </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns4"></tr>
                </table>


                <mat-paginator #paginator4="matPaginator" style="display: flex; justify-content: center" [length]="10"
                  [pageSize]="10" showFirstLastButtons>
                </mat-paginator>

              </div>
            </mat-card>
          </div>
        </div>

      </div>
    </div>


  </mat-tab>

  <mat-tab label="นำเข้า">
    <div class="display">
      <div class="container-fluid">

        <div class="row mt-2">
          <div class="col-12">
            <mat-card class="shadow">
              <h1 class="center">การเบิกยา OPD ชั้น 2</h1>
            </mat-card>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <mat-card class="shadow">
              <div *ngIf="checkView == true" class="center"><h2>ใบเบิกเลขที่ {{excelName}}</h2></div>
              <div *ngIf="checkView == false"class="right"><input class="mt-0 mb-2" type="file" (change)="readExcel($event)" #inputFile /></div>
              <div *ngIf="isExcelFile === false" class="center">
                <h1 style="color: red">
                  * กรุณาเลือกไฟล์ Excel ! *
                </h1>
              </div>
              <div [hidden]="dataExcel.length != 0">
                <table mat-table [dataSource]="dataSource3" #sort3="matSort" matSort class="" matTableExporter
                  matSortActive="date" matSortDirection="desc" #exporter="matTableExporter">
                  <ng-container matColumnDef="Row">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px">
                      Row
                    </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 20px; padding-right: 20px">
                      {{ element.Row }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="SUB_PO_NO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เลขที่ใบเบิก</th>
                    <td mat-cell *matCellDef="let element" class="center">
                      {{ element.SUB_PO_NO }}
                      <button type="button" class="btn btn-outline-primary btn-sm" (click)="ViewSPN(element)">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่</th>
                    <td mat-cell *matCellDef="let element" class="center">
                      {{ element.date }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เวลา</th>
                    <td mat-cell *matCellDef="let element" class="center">
                      {{ element.time }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                </table>

                <mat-paginator #paginator3="matPaginator" style="display: flex; justify-content: center" [length]="10"
                [length]="10" [pageSize]="10" [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons>
                </mat-paginator>
              </div>
              <div [hidden]="dataExcel.length == 0">
                <table mat-table [dataSource]="dataSource2" #sort2="matSort" matSort class="" matTableExporter
                  matSortActive="drugName" matSortDirection="asc" #exporter="matTableExporter">
                  <ng-container matColumnDef="Row">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px">
                      Row
                    </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 20px; padding-right: 20px">
                      {{ element.Row }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="INV_Code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>รหัส</th>
                    <td mat-cell *matCellDef="let element" class="">
                      {{ element.INV_Code }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="drugName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 500px">
                      ชื่อสามัญ/ชื่อการค้า
                    </th>
                    <td mat-cell *matCellDef="let element" class="">
                      {{ element.drugName }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="REQU_QTY">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      จน.ขอ x pack
                    </th>
                    <td mat-cell *matCellDef="let element" class="right">
                      {{ element.REQU_QTY }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="DISP_QTY">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      จน.จ่าย x pack
                    </th>
                    <td mat-cell *matCellDef="let element" class="right">
                      {{ element.DISP_QTY }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="STK_Event">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      คงคลังปัจจุบัน
                    </th>
                    <td mat-cell *matCellDef="let element" class="right">
                      {{ element.STK_Event }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="LOT_NO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lot no.</th>
                    <td mat-cell *matCellDef="let element" class="center">
                      {{ element.LOT_NO }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="EXP_Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      วันที่หมดอายุ
                    </th>
                    <td mat-cell *matCellDef="let element" class="center">
                      {{ element.EXP_Date }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ราคา</th>
                    <td mat-cell *matCellDef="let element" class="right">
                      {{ element.price }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>มูลค่า</th>
                    <td mat-cell *matCellDef="let element" class="right">
                      {{ element.value }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
                </table>

                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4 ">
                    <mat-paginator #paginator2="matPaginator" style="display: flex; justify-content: center"
                      [length]="10" [pageSize]="10" [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons>
                    </mat-paginator>
                  </div>
                  <div *ngIf="checkView == false" class="col-4 right mt-2">
                    <button type="button" class="btn btn-secondary" (click)="clear()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                      ล้างข้อมูล
                    </button>
                    <button type="button" class="btn btn-primary ml-2" (click)="matching()">
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      นำเข้าข้อมูล
                    </button>
                    <!-- <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#importModal"
                    (click)="matching()"
                  >
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    นำเข้าข้อมูล/สร้างรายงาน
                  </button> -->
                  </div>
                  <div *ngIf="checkView == true" class="col-4 right mt-2">
                    <button type="button" class="btn btn-secondary" (click)="clear()">
                      <i class="fa fa-arrow-left" aria-hidden="true"></i>
                      ย้อนกลับ
                    </button>
                  </div>
                </div>


              </div>


            </mat-card>
          </div>
        </div>





      </div>
    </div>

  </mat-tab>
</mat-tab-group>

<!-- report Modal ---------------------------------------------------------------------------------->
<div class="modal fade" id="reportModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="formpDrug" (ngSubmit)="updateAmount()">
      <div class="modal-content">
        <div class="modal-header pb-0">
          <h2 class="modal-title" id="reportModalLabel">แก้ไขจำนวนยา</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div>
            <label>ชื่อยา</label>
            <input class="form-control" type="text" formControlName="drugName" [readonly]="true">
          </div>

          <div class="mt-2">
            <label>LOT NO</label>
            <input class="form-control" type="text" formControlName="LOT_NO" [readonly]="true">
          </div>

          <div class="mt-2">
            <label>EXP. Date</label>
            <input class="form-control" type="text" formControlName="EXP_Date" [readonly]="true">
          </div>

          <div class="mt-2">
            <label>จำนวน</label>
            <input class="form-control t-num t-green" type="number" formControlName="amount">
          </div>

          <!-- <div>
            <mat-form-field style="width: 100%; color: gray;">
              <mat-label>ชื่อยา</mat-label>
              <input matInput type="text" formControlName="drugName" [readonly]="true" />
            </mat-form-field>
          </div> -->

          <!-- <div>
            <mat-form-field style="width: 100%; color: gray;">
              <mat-label>LOT_NO</mat-label>
              <input matInput type="text" formControlName="LOT_NO" [readonly]="true" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="width: 100%; color: gray;">
              <mat-label>EXP_Date</mat-label>
              <input matInput type="text" formControlName="EXP_Date" [readonly]="true" />
            </mat-form-field>
          </div> -->

          <!-- <div>
            <mat-form-field style="width: 20%; color: #3f51b5; font-weight: bold;">
              <mat-label>จำนวนคงเหลือ</mat-label>
              <input type="number" matInput formControlName="amount" maxlength="" />
            </mat-form-field>
          </div> -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            <i class="fa fa-times" aria-hidden="true"></i> ยกเลิก
          </button>
          <button type="submit" class="btn btn-primary" (click) ="input.value = ''">
            <i class="fas fa-save"></i> บันทึก
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- import Modal ---------------------------------------------------------------------------------->
<div class="modal" tabindex="-1" role="dialog" id="importModal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">รายการจัด Stock</h2>
        <button type="button" class="btn btn-success" (click)="exportExcel1()">
          <i class="fa fa-download" aria-hidden="true"></i> บันทึกเป็นไฟล์ Excel
        </button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="center" *ngIf="drugNotMatch.length > 0">
          <span style="color: red" class="h5"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            พบรายการยาที่ไม่สามารถจับคู่ได้
            {{ drugNotMatch.length }} รายการ</span>
          <button type="button" class="btn btn-danger btn-sm" (click)="exportExcel2()">
            <i class="fa fa-download" aria-hidden="true"></i> บันทึกเป็นไฟล์
            Excel
          </button>
        </div>
        <table class="table table-borderless" #table1>
          <tr class="center" style="border: 1px solid lightgrey">
            <th>ผู้รับผิดชอบ</th>
            <!-- <th>รหัสยา</th> -->
            <th>ชื่อยา</th>
            <th>จำนวน</th>
            <th>Lot no.</th>
            <th>Exp.date</th>
            <th>ตู้</th>
            <th>ตำแหน่ง</th>
            <th style="display: none">หมายเหตุ</th>
          </tr>

          <tr *ngFor="let x of drugReStock; let i = index">
            <td class="b-left" *ngIf="i == 0">
              {{ x.staffCode }} {{ x.staffName }}
            </td>
            <!-- <td *ngIf="i > 0">{{ x.staffCode }} {{ x.staffName }}</td> -->
            <td class="b-left" *ngIf="
                i > 0 &&
                drugReStock[i].staffCode != drugReStock[i - 1].staffCode
              " style="border-top: 1px solid lightgrey">
              {{ x.staffCode }} {{ x.staffName }}
            </td>
            <td class="b-left" *ngIf="
                i > 0 &&
                drugReStock[i].staffCode == drugReStock[i - 1].staffCode
              "></td>
            <!-- <td
            class=" {{
              i > 0 &&
              drugReStock[i].staffCode != drugReStock[i - 1].staffCode
                ? 'b-top'
                : ''
            }}"
          >
            {{ x.drugCode }}
          </td> -->
            <!-- <td *ngIf="x.drugName.length < 70"
              class=" {{
                i > 0 &&
                drugReStock[i].staffCode != drugReStock[i - 1].staffCode
                  ? 'b-top'
                  : ''
              }}"
            >
              {{ x.drugName }}
            </td>
            <td *ngIf="x.drugName.length >= 70"
              class=" {{
                i > 0 &&
                drugReStock[i].staffCode != drugReStock[i - 1].staffCode
                  ? 'b-top'
                  : ''
              }}"
            >
              {{ x.drugName.substr(0,70) }}..
            </td> -->
            <td class=" {{
                i > 0 &&
                drugReStock[i].staffCode != drugReStock[i - 1].staffCode
                  ? 'b-top'
                  : ''
              }}">
              {{ x.drugName }}
            </td>
            <td class="right {{
                i > 0 &&
                drugReStock[i].staffCode != drugReStock[i - 1].staffCode
                  ? 'b-top'
                  : ''
              }}">
              {{ x.qty }}
            </td>
            <td class="center {{
                i > 0 &&
                drugReStock[i].staffCode != drugReStock[i - 1].staffCode
                  ? 'b-top'
                  : ''
              }}">
              {{ x.lot }}
            </td>
            <td class="center {{
                i > 0 &&
                drugReStock[i].staffCode != drugReStock[i - 1].staffCode
                  ? 'b-top'
                  : ''
              }}">
              {{ x.expDate }}
            </td>
            <td class="center {{
                i > 0 &&
                drugReStock[i].staffCode != drugReStock[i - 1].staffCode
                  ? 'b-top'
                  : ''
              }}">
              {{ x.device }}
            </td>
            <td class="center {{
                i > 0 &&
                drugReStock[i].staffCode != drugReStock[i - 1].staffCode
                  ? 'b-top b-right'
                  : 'b-right'
              }}">
              {{ x.position }}
            </td>
            <td style="display: none"></td>
          </tr>
          <!-- <tr>
            <td class="b-top" colspan="8" *ngIf="drugNotMatch.length == 0"></td>
            <td
              class="b-top center"
              colspan="8"
              *ngIf="drugNotMatch.length > 0"
              style="color: red"
            ></td>
          </tr> -->
        </table>

        <div class="row" style="display: none">
          <table class="table table-bordered" #table2>
            <thead class="center">
              <tr>
                <th>รหัส</th>
                <th>ชื่อสามัญ/ชื่อการค้า</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of drugNotMatch">
                <td>{{ x.INV_Code }}</td>
                <td>{{ x.drugName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fa fa-times-circle" aria-hidden="true"></i> ปิด
        </button>
        <button type="button" class="btn btn-success" (click)="exportExcel1()">
          <i class="fa fa-download" aria-hidden="true"></i> บันทึกเป็นไฟล์ Excel
        </button>
      </div>
    </div>
  </div>
</div>
