th {
  z-index: 1 !important;
}

label {
  font-weight: bold;
}

.btn-circle.btn-md {
  width: 40px;
  height: 40px;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
  font-size: 15px;
  text-align: center;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.butt-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.hiddenRow {
  padding: 0 !important;
}

::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  color: #3f51b5;
  font-weight: bold;
}

// p {
//   font-size: larger !important;
//   font-weight: bold !important;
// }

// .modal-body {
//   position: relative;
//   overflow-y: auto;
//   max-height: 500px;
//   max-width: 999px;
//   min-width: 1200px;

// }

// .modal-dialog {
//   position: relative;
//   display: table;
//   /* This is important */
//   overflow-y: auto;
//   overflow-x: auto;
//   width: auto;
//   min-width: 300px;
// }
