<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9"></div>
    <div class="col-lg-3">
      <mat-form-field class="example-full-width" style="float: right">
        <input matInput (keyup)="applyFilter($event)" #input #swiper />
        <mat-placeholder>ค้นหา</mat-placeholder>
        <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table
      mat-table
      [dataSource]="dataSource"
      #MatSort="matSort"
      matSort
      class="mat-elevation-z8"
      matTableExporter
      #exporter="matTableExporter"
      matSortActive="createDT"
      matSortDirection="desc"
    >
      <ng-container matColumnDef="patientNO">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="padding-left: 10px"
        >
          patientNO
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.patientNO }}
        </td>
      </ng-container>

      <ng-container matColumnDef="QN">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="padding-left: 10px"
        >
          QN
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.QN }}
        </td>
      </ng-container>

      <ng-container matColumnDef="patientName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="padding-left: 10px"
        >
          patientName
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.patientName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="createDT">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="padding-left: 10px"
        >
          createDT
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.createDT }}
        </td>
      </ng-container>

      <ng-container matColumnDef="drugcode">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="padding-left: 10px"
        >
          Action
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          <button
            *ngIf="element.drugcode.length != 0"
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#drugAllergy"
            data-backdrop="static"
            data-keyboard="false"
            (click)="clickdrugAllergy(element)"
            style="margin-left: 20px"
          >
            รายการแพ้ยา
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="timestamp">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="padding-left: 10px"
        >
          Status
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          <i
            class="fas fa-check-circle"
            style="font-size: 40px; color: #20ad60"
            *ngIf="element.timestamp && element.drugcode.length != 0"
          ></i>
          <i
            class="fas fa-times-circle"
            style="font-size: 40px; color: #dc3545"
            *ngIf="!element.timestamp && element.drugcode.length != 0"
          ></i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
  <div>
    <mat-paginator
      style="float: right"
      #MatPaginator="matPaginator"
      [length]="10"
      [pageSize]="10"
      [pageSizeOptions]="[10, 50, 100]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>

<div
  class="modal fade"
  id="drugAllergy"
  data-backdrop="static"
  data-keyboard="false"
  data-bs-focus="true"
>
  <div class="modal-dialog modal-dialog-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f40000">
        <h1 class="modal-title">รายการแพ้ยา</h1>
      </div>

      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="padding-right: 50px; border-right: 0px">#</th>
                <th style="padding-right: 50px; border-right: 0px">Code</th>
                <th style="padding-right: 50px; border-right: 0px">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of dataDrug; let x = index">
                <td style="border-right: 0px">
                  <div style="width: 10px">{{ x + 1 }}</div>
                </td>
                <td style="border-right: 0px">{{ i.drugcode }}</td>
                <td style="border-right: 0px">{{ i.drugname }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          (click)="confirm()"
          class="btn btn-primary"
          *ngIf="!datatime"
        >
          Confirm
        </button>
        <button
          type="button"
          (click)="close()"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
