<mat-tab-group (selectedTabChange)="onTabChange($event.index)">
  <mat-tab label="รายการยา">
    <div class="container-fluid pt-2">
      <div class="row">
        <div class="col-lg-5">
          <mat-form-field [hidden]="!dataSource">
            <mat-label>เลือกรายการแพ้ยา</mat-label>
            <mat-select
              [formControl]="nameFilter"
              (selectionChange)="setFocus()"
            >
              <mat-option value="ALL">ทั้งหมด</mat-option>
              <mat-option value="Y">มีแพ้ยา</mat-option>
              <mat-option value="N">ไม่มีแพ้ยา</mat-option>
            </mat-select>
          </mat-form-field>

          <button
            [hidden]="!dataSource"
            type="button"
            matTooltip="Refresh"
            style="margin-left: 30px"
            class="btn btn-outline-primary btn-circle btn-md"
            (click)="
              getData();
              nameFilter.setValue('');
              idFilter.setValue('');
              setFocus()
            "
          >
            <i class="fas fa-sync-alt fa-lg"></i>
          </button>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Select floor</mat-label>
            <mat-select [(ngModel)]="select" (ngModelChange)="changeFloor()">
              <mat-option value="W9">ห้องยาชั้น 1</mat-option>
              <mat-option value="W8">ห้องยาชั้น 2</mat-option>
              <mat-option value="W18">ห้องยาชั้น 3</mat-option>
              <mat-option value="W19">ห้องยา M - Park</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-3">
          <mat-form-field
            class="example-full-width"
            style="float: right"
            [hidden]="!dataSource"
          >
            <input matInput [formControl]="idFilter" #input />
            <mat-placeholder>HN</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <mat-checkbox
            [hidden]="!dataSource"
            class="example-margin"
            color="primary"
            style="margin: 0px 0px 0px 30px"
            [matTooltip]="dataUser.print_ip"
            [(ngModel)]="checkprint"
            ><strong>PRINTER</strong></mat-checkbox
          >
        </div>

        <div class="col-lg-6" *ngIf="select !== ''">
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker1"
              placeholder="Choose Date"
              [formControl]="date1"
              (dateChange)="startChange()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <section
        class="example-container mat-elevation-z8"
        tabindex="0"
        [hidden]="!dataSource"
      >
        <table
          mat-table
          [dataSource]="dataSource"
          #MatSort="matSort"
          matSort
          class="mat-elevation-z8"
          matTableExporter
          #exporter="matTableExporter"
          matSortActive="createdDT"
          matSortDirection="desc"
        >
          <ng-container matColumnDef="patientNO">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              patientNO
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.patientNO }}
            </td>
          </ng-container>

          <ng-container matColumnDef="QN">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              QN
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.QN }}
            </td>
          </ng-container>

          <ng-container matColumnDef="patientName">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              patientName
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.patientName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="createdDT">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              createdDT
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.createdDT }}
            </td>
          </ng-container>
          <ng-container matColumnDef="druglist">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Drugs
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              <div style="display: flex">
                <button
                  button
                  mat-raised-button
                  color="primary"
                  (click)="listDrug(element)"
                  style="margin-left: 20px"
                >
                  รายการยา
                </button>

                <button
                  button
                  mat-raised-button
                  style="background-color: #ffc107; margin-left: 10px"
                  (click)="drugCut(element)"
                  *ngIf="element.status === 'Y'"
                >
                  มียาค้างจ่าย
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="timestamp">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Status
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              <i
                class="fas fa-check-circle"
                style="font-size: 40px; color: #20ad60"
                *ngIf="element.timestamp && element.check == 'Y'"
              ></i>
              <i
                class="fas fa-times-circle"
                style="font-size: 40px; color: #dc3545"
                *ngIf="!element.timestamp && element.check == 'Y'"
              ></i>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </section>
      <div>
        <mat-paginator
          [hidden]="!dataSource"
          style="float: right"
          #MatPaginator="matPaginator"
          [length]="10"
          [pageSize]="10"
          [pageSizeOptions]="[10, 50, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>

    <div
      class="modal fade custom-class"
      id="exampleModal"
      data-backdrop="static"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <p
              style="font-size: larger; font-weight: bold"
              class="modal-title"
              id="exampleModalLabel"
            >
              รายการยา
            </p>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true" (click)="setFocus()">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p
              style="font-size: 14px; font-weight: bold"
              class="modal-title"
              id="exampleModalLabel"
            >
              ชื่อ : {{ dataP ? dataP.patientName : "" }} &nbsp; &nbsp;
              เลชบัตรประชาชน :
              {{ dataP ? dataP.cid : "" }}
            </p>
            <div [hidden]="dataDrug.length === 0">
              <p style="font-weight: bold; color: #f40000">รายการแพ้ยา</p>
              <div class="table-responsive" style="max-height: 200px">
                <table class="table table-danger">
                  <thead>
                    <tr>
                      <th style="padding-right: 50px; border-right: 0px">#</th>
                      <!-- <th style="padding-right: 50px; border-right: 0px"></th> -->
                      <th style="padding-right: 50px; border-right: 0px">
                        ชื่อยา
                      </th>
                      <th style="padding-right: 50px; border-right: 0px">
                        รหัสยา
                      </th>
                      <th style="padding-right: 50px; border-right: 0px">
                        โรงพยาบาล
                      </th>
                      <th style="padding-right: 50px; border-right: 0px">
                        วันที่
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of dataDrug; let x = index">
                      <td style="border-right: 0px; vertical-align: middle">
                        <div style="width: 10px">{{ x + 1 }}</div>
                      </td>
                      <!-- <td
                        style="
                          border-right: 0px;
                          vertical-align: middle;
                          white-space: nowrap;
                        "
                      >
                        <button
                          *ngIf="i.status_cancle !== 'Y'"
                          button
                          mat-raised-button
                          style="background-color: #ffc107"
                          type="button"
                          class="butt-sm"
                          (click)="cancleAllergy(x, i, dataP.cid)"
                        >
                          ยกเลิกแพ้ยา
                        </button>
                        <strong *ngIf="i.status_cancle === 'Y'"
                          >** <i>ยกเลิกแพ้ยาแล้ว</i> **</strong
                        >
                      </td> -->
                      <td style="border-right: 0px; vertical-align: middle">
                        {{ i.drugname }}
                      </td>
                      <td
                        style="
                          border-right: 0px;
                          vertical-align: middle;
                          white-space: nowrap;
                        "
                      >
                        {{ i.drugcode }}
                      </td>
                      <td style="border-right: 0px; vertical-align: middle">
                        {{ i.hospcode }}
                      </td>
                      <td
                        style="
                          border-right: 0px;
                          vertical-align: middle;
                          white-space: nowrap;
                        "
                      >
                        {{ i.daterecord }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p style="font-weight: bold" *ngIf="datatime">
                สถานะ :
                <i
                  class="fas fa-check-circle"
                  style="font-size: 15px; color: #20ad60"
                ></i>
              </p>
              <p style="font-weight: bold" *ngIf="!datatime">
                สถานะ :
                <i
                  class="fas fa-times-circle"
                  style="font-size: 15px; color: #dc3545"
                ></i>
              </p>
              <p *ngIf="datatime" style="font-weight: bold">
                ลงชื่อ : {{ namePhar }}
              </p>
              <hr />
            </div>

            <p style="font-weight: bold; display: inline">รายการยา</p>

            <div
              class="table-responsive"
              style="max-height: 200px"
              [hidden]="!drugPatient"
            >
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>รหัสยา</th>
                    <th>ชื่อยา</th>
                    <th>จำนวน</th>
                    <th>หน่วย</th>
                    <th>วันที่</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of drugPatient; let i = index">
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ i + 1 }}
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ item.drugCode }}
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ item.drugName }}
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ item.qty }}
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ item.unit }}
                    </td>
                    <td
                      style="border-right: 0px; vertical-align: middle"
                      class="text-nowrap"
                    >
                      {{ item.lastmodified }}
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      <button
                        button
                        mat-raised-button
                        color="primary"
                        type="button"
                        class="butt-sm"
                        (click)="cutDispend(item)"
                      >
                        ตัดจ่ายยา
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              (click)="confirm()"
              class="btn btn-primary"
              *ngIf="!datatime && checkdrug === 'Y' && checkW"
            >
              Confirm
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
              (click)="setFocus()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal_owe">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <p
              style="font-size: larger; font-weight: bold"
              class="modal-title"
              id="exampleModalLabel"
            >
              รายการยาค้างจ่าย
            </p>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="table-responsive" style="max-height: 500px">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>#</th>
                    <th class="text-nowrap">รหัสยา</th>
                    <th class="text-nowrap">ชื่อยา</th>
                    <th class="text-nowrap">จำนวนจ่ายยา</th>
                    <th class="text-nowrap">จำนวนตัดจ่ายยา</th>
                    <th class="text-nowrap">จำนวนคงเหลือ</th>
                    <th class="text-nowrap">เภสัชกร</th>
                    <th class="text-nowrap">รหัสชั้น</th>
                    <th class="text-nowrap">วันที่</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of drugcut; let i = index">
                  <tr>
                    <td style="border-right: 0px; vertical-align: middle">
                      <div style="display: flex">
                        <div
                          class="example-button-container"
                          style="margin: 5px; display: flex"
                        >
                          <button
                            matTooltip="ลบข้อมูล"
                            matTooltipPosition="above"
                            style="
                              width: 30px;
                              height: 30px;
                              margin-right: 10px;
                            "
                            mat-mini-fab
                            color="warn"
                            (click)="deleteCutdrug(drugcut[i])"
                          >
                            <i
                              class="fas fa-trash"
                              style="margin-bottom: 15px; margin-left: 1px"
                            ></i>
                          </button>

                          <button
                            [hidden]="!checkprint"
                            matTooltip="re-print"
                            matTooltipPosition="above"
                            style="
                              width: 30px;
                              height: 30px;
                              margin-right: 10px;
                            "
                            mat-mini-fab
                            color="primary"
                            (click)="sendprint(drugcut[i])"
                          >
                            <i
                              class="fas fa-print"
                              style="margin-bottom: 15px; margin-left: 1px"
                            ></i>
                          </button>
                          <button
                            button
                            mat-raised-button
                            color="primary"
                            type="button"
                            class="butt-sm"
                            (click)="dispendDrug(item)"
                          >
                            จ่ายยา
                          </button>
                        </div>
                        <div
                          class="example-button-container"
                          style="margin: 5px"
                        >
                          <button
                            *ngIf="drugcut[i].amount[0]"
                            matTooltip="ดูประวัติ"
                            matTooltipPosition="above"
                            style="width: 30px; height: 30px"
                            data-toggle="collapse"
                            [attr.data-target]="'#demo' + i"
                            mat-mini-fab
                            color="primary"
                            aria-label="Example icon button with a filter list icon"
                          >
                            <i
                              class="fas fa-eye"
                              style="margin-bottom: 15px; margin-left: 1px"
                            ></i>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ i + 1 }}
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ item.drugcode }}
                    </td>
                    <td
                      class="text-nowrap"
                      style="border-right: 0px; vertical-align: middle"
                    >
                      {{ item.drugname }}
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ item.realamount }}
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ item.cutamount }}
                    </td>
                    <td style="border-right: 0px; vertical-align: middle">
                      {{ item.balanceamount }}
                    </td>
                    <td
                      class="text-nowrap"
                      style="border-right: 0px; vertical-align: middle"
                    >
                      {{ item.phar_name }}
                    </td>
                    <td
                      class="text-nowrap"
                      style="border-right: 0px; vertical-align: middle"
                    >
                      {{ item.departmentcode }}
                    </td>
                    <td
                      class="text-nowrap"
                      style="border-right: 0px; vertical-align: middle"
                    >
                      {{ item.createdDT }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="10" class="hiddenRow">
                      <div id="demo{{ i }}" class="accordian-body collapse">
                        <table class="table table-primary">
                          <thead>
                            <tr>
                              <th></th>
                              <th>จำนวนจ่ายยา</th>
                              <th>เภสัชกร</th>
                              <th>วันที่</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let item of drugcut[i].amount;
                                let j = index
                              "
                            >
                              <td width="10px">
                                <div style="display: flex">
                                  <button
                                    matTooltip="ลบข้อมูล"
                                    matTooltipPosition="above"
                                    style="
                                      width: 30px;
                                      height: 30px;
                                      margin-right: 10px;
                                    "
                                    mat-mini-fab
                                    color="warn"
                                    (click)="
                                      deleteCutowe(
                                        drugcut[i].id,
                                        drugcut[i].id2[j],
                                        drugcut[i].amount[j]
                                      )
                                    "
                                  >
                                    <i
                                      class="fas fa-trash"
                                      style="
                                        margin-bottom: 15px;
                                        margin-left: 1px;
                                      "
                                    ></i>
                                  </button>
                                  <!-- <button
                                    matTooltip="re-print"
                                    matTooltipPosition="above"
                                    style="
                                      width: 30px;
                                      height: 30px;
                                      margin-right: 10px;
                                    "
                                    mat-mini-fab
                                    color="primary"
                                    (click)="sendprintChildren(drugcut[i], j)"
                                  >
                                    <i
                                      class="fas fa-print"
                                      style="
                                        margin-bottom: 15px;
                                        margin-left: 1px;
                                      "
                                    ></i>
                                  </button> -->
                                </div>
                              </td>
                              <td style="vertical-align: middle">{{ item }}</td>
                              <td style="vertical-align: middle">
                                {{ drugcut[i].phar2_name[j] }}
                              </td>
                              <td style="vertical-align: middle">
                                {{ drugcut[i].datetime[j] }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="รายงานยืนยันแพ้ยา">
    <div class="container-fluid pt-2">
      <div class="row">
        <div class="col-lg-9">
          <mat-form-field class="example-form-field" style="float: left">
            <mat-label>เลือกวันที่</mat-label>
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePickerr"
              [comparisonStart]="campaignOne.value.start"
              [comparisonEnd]="campaignOne.value.end"
            >
              <input
                matStartDate
                placeholder="วันที่เริ่มต้น"
                formControlName="start"
              />
              <input
                matEndDate
                placeholder="วันที่สิ้นสุด"
                formControlName="end"
                (dateChange)="endChange($event)"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePickerr"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePickerr></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div class="col-lg-3">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter2($event)" #input3 />
            <mat-placeholder>Search</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <section
        class="example-container mat-elevation-z8"
        tabindex="0"
        [hidden]="!dataSource3"
      >
        <table
          mat-table
          [dataSource]="dataSource3"
          #MatSort3="matSort"
          matSort
          class="mat-elevation-z8"
          matTableExporter
          #exporter3="matTableExporter"
          matSortActive="timestamp"
          matSortDirection="desc"
          [hiddenColumns]="[]"
        >
          <ng-container matColumnDef="user">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Pharmacist ID
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.user }}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Pharmacist Name
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="queue">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Queue
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.queue }}
            </td>
          </ng-container>
          <ng-container matColumnDef="hn">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              HN
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.hn }}
            </td>
          </ng-container>
          <ng-container matColumnDef="patientName">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Patient Name
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.patientName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="timestamp">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Date
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.timestamp }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns3; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
        </table>
      </section>
      <div [hidden]="!dataSource3">
        <button
          mat-raised-button
          color="primary"
          (click)="
            exporter3.exportTable('xlsx', {
              fileName: nameExcel3,
              sheet: 'sheet_name',
              Props: { Author: 'Talha' }
            })
          "
        >
          Export Excel
        </button>
        <mat-paginator
          style="float: right"
          #MatPaginator3="matPaginator"
          [length]="10"
          [pageSize]="10"
          [pageSizeOptions]="[10, 50, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="รายงานตัดจ่ายยา">
    <div class="container-fluid pt-2">
      <div class="row">
        <div class="col-lg-5">
          <mat-form-field class="example-form-field" style="float: left">
            <mat-label>เลือกวันที่</mat-label>
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker"
              [comparisonStart]="campaignOne.value.start"
              [comparisonEnd]="campaignOne.value.end"
            >
              <input
                matStartDate
                placeholder="วันที่เริ่มต้น"
                formControlName="start"
              />
              <input
                matEndDate
                placeholder="วันที่สิ้นสุด"
                formControlName="end"
                (dateChange)="endChange($event)"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Select floor</mat-label>
            <mat-select
              [(ngModel)]="select"
              (ngModelChange)="changeFloorReport()"
            >
              <mat-option value="">All</mat-option>
              <mat-option value="W9">ห้องยาชั้น 1</mat-option>
              <mat-option value="W8">ห้องยาชั้น 2</mat-option>
              <mat-option value="W18">ห้องยาชั้น 3</mat-option>
              <mat-option value="W19">ห้องยา M - Park</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter($event)" #input2 />
            <mat-placeholder>Search</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <section
        class="example-container mat-elevation-z8"
        tabindex="0"
        [hidden]="!dataSource2"
      >
        <table
          mat-table
          [dataSource]="dataSource2"
          #MatSort2="matSort"
          matSort
          class="mat-elevation-z8"
          matTableExporter
          #exporter2="matTableExporter"
          matSortActive="createdDT"
          matSortDirection="desc"
          [hiddenColumns]=""
        >
          <ng-container matColumnDef="hn">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              HN
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.hn }}
            </td>
          </ng-container>

          <ng-container matColumnDef="patientName">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              patient Name
            </th>
            <td
              class="text-nowrap"
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.patientName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="checker_name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Pharmacist
            </th>
            <td
              class="text-nowrap"
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.checker_name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="floor">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Floor
            </th>
            <td
              class="text-nowrap"
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.floor }}
            </td>
          </ng-container>
          <ng-container matColumnDef="drugcode">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Drug Code
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.drugcode }}
            </td>
          </ng-container>
          <ng-container matColumnDef="drugname">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Drug Name
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.drugname }}
            </td>
          </ng-container>
          <ng-container matColumnDef="realamount">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Amount
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.realamount }}
            </td>
          </ng-container>
          <ng-container matColumnDef="cutamount">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Cut Amount
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.cutamount }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createdDT">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Date
            </th>
            <td
              class="text-nowrap"
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.createdDT }}
            </td>
          </ng-container>
          <ng-container matColumnDef="relativePhone">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Phone
            </th>
            <td
              class="text-nowrap"
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.relativePhone }}
            </td>
          </ng-container>
          <ng-container matColumnDef="relativeAddress">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Address
            </th>
            <td
              class="text-nowrap"
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.relativeAddress }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Status
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="
                padding-left: 20px;
                padding-right: 20px;
                white-space: nowrap;
              "
            >
              <!-- <i
                [ngClass]="
                  element.status == 'N'
                    ? 'fas fa-check-circle'
                    : 'fas fa-times-circle'
                "
                [ngStyle]="
                  element.status == 'N'
                    ? { 'font-size': '40px', color: '#20ad60' }
                    : { 'font-size': '40px', color: '#dc3545' }
                "
              ></i> -->

              {{ element.status == "N" ? "จ่ายยาแล้ว" : "ค้างจ่ายยา" }}
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns2; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
        </table>
      </section>
      <div [hidden]="!dataSource2">
        <button
          mat-raised-button
          color="primary"
          (click)="
            exporter2.exportTable('xlsx', {
              fileName: nameExcel2,
              sheet: 'sheet_name',
              Props: { Author: 'Talha' }
            })
          "
        >
          Export Excel
        </button>
        <mat-paginator
          style="float: right"
          #MatPaginator2="matPaginator"
          [length]="10"
          [pageSize]="10"
          [pageSizeOptions]="[10, 50, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="รายงานจ่ายยาตัดจ่ายยา">
    <div class="container-fluid pt-2">
      <div class="row">
        <div class="col-lg-5">
          <mat-form-field class="example-form-field" style="float: left">
            <mat-label>เลือกวันที่</mat-label>
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker2"
              [comparisonStart]="campaignOne.value.start"
              [comparisonEnd]="campaignOne.value.end"
            >
              <input
                matStartDate
                placeholder="วันที่เริ่มต้น"
                formControlName="start"
              />
              <input
                matEndDate
                placeholder="วันที่สิ้นสุด"
                formControlName="end"
                (dateChange)="endChange($event)"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker2"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker2></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Select floor</mat-label>
            <mat-select
              [(ngModel)]="select"
              (ngModelChange)="changeFloorReport()"
            >
              <mat-option value="">All</mat-option>
              <mat-option value="W9">ห้องยาชั้น 1</mat-option>
              <mat-option value="W8">ห้องยาชั้น 2</mat-option>
              <mat-option value="W18">ห้องยาชั้น 3</mat-option>
              <mat-option value="W19">ห้องยา M - Park</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter4($event)" #input4 />
            <mat-placeholder>Search</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <section
        class="example-container mat-elevation-z8"
        tabindex="0"
        [hidden]="!dataSource4"
      >
        <table
          mat-table
          [dataSource]="dataSource4"
          #MatSort4="matSort"
          matSort
          class="mat-elevation-z8"
          matTableExporter
          #exporter4="matTableExporter"
          matSortActive="createdDT"
          matSortDirection="desc"
          [hiddenColumns]=""
        >
          <ng-container matColumnDef="pharmacist">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Pharmacist
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.pharmacist }}
            </td>
          </ng-container>

          <ng-container matColumnDef="departmentcode">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Departmentcode
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.departmentcode }}
            </td>
          </ng-container>

          <ng-container matColumnDef="drugname">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Drugname
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.drugname }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              Amount
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.amount }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createDT">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              createDT
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.createDT }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns4; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns4"></tr>
        </table>
      </section>
      <div [hidden]="!dataSource4">
        <button
          mat-raised-button
          color="primary"
          (click)="
            exporter4.exportTable('xlsx', {
              fileName: nameExcel4,
              sheet: 'sheet_name',
              Props: { Author: 'Talha' }
            })
          "
        >
          Export Excel
        </button>
        <mat-paginator
          style="float: right"
          #MatPaginator4="matPaginator"
          [length]="10"
          [pageSize]="10"
          [pageSizeOptions]="[10, 50, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div></div
  ></mat-tab>
  <mat-tab label="รายงานเช็คยา">
    <div class="container-fluid pt-2">
      <div class="row">
        <div class="col-lg-5">
          <mat-form-field class="example-form-field" style="float: left">
            <mat-label>เลือกวันที่</mat-label>
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker3"
              [comparisonStart]="campaignOne.value.start"
              [comparisonEnd]="campaignOne.value.end"
            >
              <input
                matStartDate
                placeholder="วันที่เริ่มต้น"
                formControlName="start"
              />
              <input
                matEndDate
                placeholder="วันที่สิ้นสุด"
                formControlName="end"
                (dateChange)="endChange($event)"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker3"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker3></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>เลือกรายงาน</mat-label>
            <mat-select
              [(ngModel)]="choicecheckmed"
              (ngModelChange)="reportCheckmed()"
            >
              <mat-option value="1">รายงานเจ้าหน้าที่เช็คยา</mat-option>
              <mat-option value="2">รายงานเวลาเช็คยา</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter5($event)" #input5 />
            <mat-placeholder>Search</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <section
        class="example-container mat-elevation-z8"
        tabindex="0"
        [hidden]="!dataSource5"
      >
        <table
          mat-table
          [dataSource]="dataSource5"
          #MatSort5="matSort"
          matSort
          class="mat-elevation-z8"
          matTableExporter
          #exporter5="matTableExporter"
          [hiddenColumns]=""
        >
          <ng-container
            [matColumnDef]="choicecheckmed == '1' ? 'userCheck' : 'hn'"
          >
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              {{ choicecheckmed == "1" ? "รหัส" : "รหัสคนไข้" }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ choicecheckmed == "1" ? element.userCheck : element.hn }}
            </td>
          </ng-container>

          <ng-container
            [matColumnDef]="choicecheckmed == '1' ? 'name' : 'userCheck'"
          >
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              {{ choicecheckmed == "1" ? "ชื่อ" : "รหัสเจ้าหน้าที่" }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ choicecheckmed == "1" ? element.name : element.userCheck }}
            </td>
          </ng-container>

          <ng-container
            [matColumnDef]="
              choicecheckmed == '1' ? 'countuserCheck' : 'timestamp'
            "
          >
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              {{ choicecheckmed == "1" ? "จำนวนใบสั่งยา" : "เวลาเช็คยา" }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{
                choicecheckmed == "1"
                  ? element.countuserCheck
                  : element.timestamp
              }}
            </td>
          </ng-container>
          <ng-container
            [matColumnDef]="
              choicecheckmed == '1' ? 'countdrugCode' : 'checkComplete'
            "
          >
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              {{ choicecheckmed == "1" ? "จำนวนราการยา" : "เวลาเช็คยาเสร็จ" }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{
                choicecheckmed == "1"
                  ? element.countdrugCode
                  : element.checkComplete
              }}
            </td>
          </ng-container>
          <ng-container matColumnDef="time">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              เวลา
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.time }}
            </td>
          </ng-container>
          <ng-container matColumnDef="item" *ngIf="choicecheckmed == '2'">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="padding-left: 10px"
            >
              จำนวนยา
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="padding-left: 20px; padding-right: 20px"
            >
              {{ element.item }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns5; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns5"></tr>
        </table>
      </section>
      <div [hidden]="!dataSource5">
        <button
          mat-raised-button
          color="primary"
          (click)="
            exporter5.exportTable('xlsx', {
              fileName: nameExcel5,
              sheet: 'sheet_name',
              Props: { Author: 'Talha' }
            })
          "
        >
          Export Excel
        </button>
        <mat-paginator
          style="float: right"
          #MatPaginator5="matPaginator"
          [length]="10"
          [pageSize]="10"
          [pageSizeOptions]="[10, 50, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div></div
  ></mat-tab>
</mat-tab-group>
