table {
  width: 100%;
}

//  th{
//   background-color: #e7e4e488;
// }
//  th{
//   border-right: 1px solid #E0E0E0;
//   text-align: center;
//   background-color: #e7e4e488;
//   padding-left: 10px !important;

// }
//  td{
//   border-right: 1px solid #E0E0E0;
// }

// mat-accordion {
//   flex-grow: 1;
// }

.form-group {
  display: inline-block;

}

th {

  z-index: 1 !important;
}

.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 500px;
  max-width: 999px;
  min-width: 900px;

}

.modal-dialog {
  position: relative;
  display: table;
  /* This is important */
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 300px;
}



td {
  border-right: 0px solid #E0E0E0;
}
