<mat-tab-group (selectedTabChange)="getTab($event.index)">
  <mat-tab label="ภาระงานเภสัชตรวจยา">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <mat-form-field class="example-form-field" [style.width.px]="200">
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>
          &nbsp;
          <mat-form-field [style.width.px]="70">
            <mat-label>Start time</mat-label>
            <input type="time" matInput [(ngModel)]="starttime" />
          </mat-form-field>
          -
          <mat-form-field [style.width.px]="70">
            <mat-label>Start time</mat-label>
            <input type="time" matInput [(ngModel)]="endtime" />
          </mat-form-field>
          &nbsp;
          <button
            (click)="valuechange()"
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>check_circle</mat-icon>
          </button>
          <button
            (click)="clearValue()"
            mat-icon-button
            color="accent"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter($event)" #input />
            <mat-placeholder>ค้นหา</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>

    <table
      mat-table
      matTableExporter
      [dataSource]="dataSource"
      matSort
      #exporter="matTableExporter"
      class="mat-elevation-z8"
      matSortActive="checker_id"
      matSortDirection="desc"
    >
      <ng-container matColumnDef="checker_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>checker_id</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.checker_id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="checker_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>checker_name</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.checker_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>item</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.item }}
        </td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>order</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.order }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div style="float: right" *ngIf="dataDrug">
      <button
        mat-raised-button
        color="primary"
        (click)="
          exporter.exportTable('xlsx', {
            fileName: 'ภาระงานเภสัชตรวจยา',
            sheet: 'sheet_name',
            Props: { Author: 'Talha' }
          })
        "
      >
        Excel
      </button>
    </div>

    <mat-paginator
      style="display: flex; justify-content: center"
      [length]="10"
      [pageSize]="10"
      [pageSizeOptions]="[10, 50, 100]"
      showFirstLastButtons
    >
    </mat-paginator>
  </mat-tab>
  <mat-tab label="ภาระงานเภสัชจ่ายยา">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <mat-form-field class="example-form-field" [style.width.px]="200">
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>
          &nbsp;
          <mat-form-field [style.width.px]="70">
            <mat-label>Start time</mat-label>
            <input type="time" matInput [(ngModel)]="starttime" />
          </mat-form-field>
          -
          <mat-form-field [style.width.px]="70">
            <mat-label>Start time</mat-label>
            <input type="time" matInput [(ngModel)]="endtime" />
          </mat-form-field>
          &nbsp;
          <button
            (click)="valuechange()"
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>check_circle</mat-icon>
          </button>
          <button
            (click)="clearValue()"
            mat-icon-button
            color="accent"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter($event)" #input />
            <mat-placeholder>ค้นหา</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>

    <table
      mat-table
      matTableExporter
      [dataSource]="dataSource"
      matSort
      #exporter="matTableExporter"
      class="mat-elevation-z8"
      matSortActive="checker_id"
      matSortDirection="desc"
    >
      <ng-container matColumnDef="checker_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>checker_id</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.dispenser_id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="checker_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>checker_name</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.dispenser_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>item</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.item }}
        </td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>order</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="padding-left: 20px; padding-right: 20px"
        >
          {{ element.order }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div style="float: right" *ngIf="dataDrug">
      <button
        mat-raised-button
        color="primary"
        (click)="
          exporter.exportTable('xlsx', {
            fileName: 'ภาระงานเภสัชจ่ายยา',
            sheet: 'sheet_name',
            Props: { Author: 'Talha' }
          })
        "
      >
        Excel
      </button>
    </div>

    <mat-paginator
      style="display: flex; justify-content: center"
      [length]="10"
      [pageSize]="10"
      [pageSizeOptions]="[10, 50, 100]"
      showFirstLastButtons
    >
    </mat-paginator
  ></mat-tab>
</mat-tab-group>
