<mat-tab-group
  (selectedTabChange)="getTab($event.index)"
  [(selectedIndex)]="numTab"
>
  <mat-tab label="ภาระงานเภสัชตรวจยา" [disabled]="dataUser.role === 'officer'">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="example-form-field" [style.width.px]="200">
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>
          &nbsp;
          <span style="display: inline-block">
            <mat-form-field [style.width.px]="70">
              <mat-label>Start time</mat-label>
              <input type="time" matInput [(ngModel)]="starttime" />
            </mat-form-field>
            -
            <mat-form-field [style.width.px]="70">
              <mat-label>End time</mat-label>
              <input type="time" matInput [(ngModel)]="endtime" />
            </mat-form-field>
            &nbsp;
            <button
              (click)="valuechange()"
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
            <button
              (click)="clearValue()"
              mat-icon-button
              color="accent"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </span>
        </div>
        <div class="col-lg-3">
          <mat-form-field>
            <mat-label>Select Site</mat-label>
            <mat-select [(ngModel)]="select" (ngModelChange)="changeFloor()">
              <mat-option value="">All</mat-option>
              <mat-option value="W9">ห้องยาชั้น 1</mat-option>
              <mat-option value="W8">ห้องยาชั้น 2</mat-option>
              <mat-option value="W18">ห้องยาชั้น 3</mat-option>
              <mat-option value="W19">ห้องยา M - Park</mat-option
              ><mat-option value="W20">ห้องยา ER</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-3">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter($event)" #input />
            <mat-placeholder>ค้นหา</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="responsive-table" [hidden]="!dataDrug">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table
            mat-table
            matTableExporter
            [dataSource]="dataSource"
            #MatSort2="matSort"
            matSort
            #exporter2="matTableExporter"
            class="mat-elevation-z8"
            matSortActive="checker_id"
            matSortDirection="desc"
          >
            <ng-container matColumnDef="checker_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                checker_id
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.checker_id }}
              </td>
            </ng-container>

            <ng-container matColumnDef="checker_name" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                checker_name
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.checker_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>item</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.item }}
              </td>
            </ng-container>

            <ng-container matColumnDef="order">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>order</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.order }}
              </td>
            </ng-container>

            <ng-container matColumnDef="error">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>error</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  *ngIf="element.error"
                  (click)="listError(element)"
                >
                  <i class="fas fa-info-circle fa-lg"></i>&nbsp;
                  <span class="badge badge-light"> {{ element.error }}</span>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </section>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="
              exporter2.exportTable('xlsx', {
                fileName: nameExcel,
                sheet: 'sheet_name',
                Props: { Author: 'Talha' }
              })
            "
          >
            Excel
          </button>

          <mat-paginator
            #MatPaginator2="matPaginator"
            style="float: right"
            [length]="10"
            [pageSize]="10"
            [pageSizeOptions]="[10, 50, 100]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="ภาระงานเภสัชจ่ายยา" [disabled]="dataUser.role === 'officer'">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="example-form-field" [style.width.px]="200">
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker2"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker2"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker2></mat-date-range-picker>
          </mat-form-field>
          &nbsp;
          <span style="display: inline-block">
            <mat-form-field [style.width.px]="70">
              <mat-label>Start time</mat-label>
              <input type="time" matInput [(ngModel)]="starttime" />
            </mat-form-field>
            -
            <mat-form-field [style.width.px]="70">
              <mat-label>End time</mat-label>
              <input type="time" matInput [(ngModel)]="endtime" />
            </mat-form-field>
            &nbsp;
            <button
              (click)="valuechange()"
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
            <button
              (click)="clearValue()"
              mat-icon-button
              color="accent"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </span>
        </div>
        <div class="col-lg-2">
          <mat-form-field>
            <mat-label>Select Site</mat-label>
            <mat-select [(ngModel)]="select" (ngModelChange)="changeFloor()">
              <mat-option value="W9">ห้องยาชั้น 1</mat-option>
              <mat-option value="W8">ห้องยาชั้น 2</mat-option>
              <mat-option value="W18">ห้องยาชั้น 3</mat-option>
              <mat-option value="W19">ห้องยา M - Park</mat-option
              ><mat-option value="W4">ห้องยา ER</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter($event)" #input />
            <mat-placeholder>ค้นหา</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="responsive-table" [hidden]="!dataDrug">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table
            mat-table
            matTableExporter
            [dataSource]="dataSource"
            #MatSort3="matSort"
            matSort
            #exporter3="matTableExporter"
            class="mat-elevation-z8"
            matSortActive="checker_id"
            matSortDirection="desc"
          >
            <ng-container matColumnDef="dispenser_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                dispenser_id
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.dispenser_id }}
              </td>
            </ng-container>

            <ng-container matColumnDef="dispenser_name" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                dispenser_name
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.dispenser_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>item</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.item }}
              </td>
            </ng-container>

            <ng-container matColumnDef="order">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>order</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.order }}
              </td>
            </ng-container>
            <ng-container matColumnDef="error">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>error</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  *ngIf="element.error"
                  (click)="listError(element)"
                >
                  <i class="fas fa-info-circle fa-lg"></i>&nbsp;
                  <span class="badge badge-light"> {{ element.error }}</span>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
          </table>
        </section>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="
              exporter3.exportTable('xlsx', {
                fileName: nameExcel,
                sheet: 'sheet_name',
                Props: { Author: 'Talha' }
              })
            "
          >
            Excel
          </button>

          <mat-paginator
            #MatPaginator3="matPaginator"
            style="float: right"
            [length]="10"
            [pageSize]="10"
            [pageSizeOptions]="[10, 50, 100]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="ภาระงานผู้ช่วยเภสัชประจำตู้">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="example-form-field" [style.width.px]="200">
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker3"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker3"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker3></mat-date-range-picker>
          </mat-form-field>
          &nbsp;
          <span style="display: inline-block">
            <mat-form-field [style.width.px]="70">
              <mat-label>Start time</mat-label>
              <input type="time" matInput [(ngModel)]="starttime" />
            </mat-form-field>
            -
            <mat-form-field [style.width.px]="70">
              <mat-label>End time</mat-label>
              <input type="time" matInput [(ngModel)]="endtime" />
            </mat-form-field>
            &nbsp;
            <button
              (click)="valuechange()"
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
            <button
              (click)="clearValue()"
              mat-icon-button
              color="accent"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </span>
        </div>
        <div class="col-lg-2">
          <mat-form-field>
            <mat-label>Select Site</mat-label>
            <mat-select [(ngModel)]="select" (ngModelChange)="changeFloor()">
              <mat-option value="W9">ห้องยาชั้น 1</mat-option>
              <mat-option value="W8">ห้องยาชั้น 2</mat-option>
              <mat-option value="W18">ห้องยาชั้น 3</mat-option>
              <mat-option value="W19">ห้องยา M - Park</mat-option
              ><mat-option value="W4">ห้องยา ER</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter3($event)" #input />
            <mat-placeholder>ค้นหา</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="responsive-table" [hidden]="!dataDrug">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table
            mat-table
            matTableExporter
            [dataSource]="dataSource"
            #MatSort="matSort"
            matSort
            #exporter="matTableExporter"
            class="mat-elevation-z8"
            matSortActive="checker_id"
            matSortDirection="desc"
          >
            <ng-container matColumnDef="staff">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                staff_id
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.staff }}
              </td>
            </ng-container>

            <ng-container matColumnDef="staffName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                staff_name
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.staffName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="device" *ngIf="numTab !== 2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>device</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.device }}
              </td>
            </ng-container>
            <ng-container matColumnDef="order">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>order</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.order }}
              </td>
            </ng-container>
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>item</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.item }}
              </td>
            </ng-container>
            <ng-container matColumnDef="error">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Error</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  *ngIf="element.error"
                  (click)="listError(element)"
                >
                  <i class="fas fa-info-circle fa-lg"></i>&nbsp;
                  <span class="badge badge-light"> {{ element.error }}</span>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
          </table>
        </section>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="
              exporter.exportTable('xlsx', {
                fileName: nameExcel,
                sheet: 'sheet_name',
                Props: { Author: 'Talha' }
              })
            "
          >
            Excel
          </button>

          <mat-paginator
            style="float: right"
            [length]="10"
            [pageSize]="10"
            [pageSizeOptions]="[10, 50, 100]"
            showFirstLastButtons
            #MatPaginator="matPaginator"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab
    label="รายงานเภสัชเช็คยาและจ่ายยา"
    [disabled]="dataUser.role === 'officer'"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <mat-form-field class="example-form-field" [style.width.px]="200">
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker4"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker4"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker4></mat-date-range-picker>
          </mat-form-field>
          &nbsp;
          <button
            (click)="valuechange()"
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>check_circle</mat-icon>
          </button>
          <button
            (click)="clearValue()"
            mat-icon-button
            color="accent"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="col-lg-4">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter4($event)" #input4 />
            <mat-placeholder>ค้นหา</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="responsive-table" [hidden]="!dataDrug">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table
            mat-table
            matTableExporter
            [dataSource]="dataSource"
            #MatSort4="matSort"
            matSort
            #exporter4="matTableExporter"
            class="mat-elevation-z8"
            matSortActive="createDT_Q"
            matSortDirection="asc"
          >
            <ng-container matColumnDef="patientNO">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                patientNO
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.patientNO }}
              </td>
            </ng-container>

            <ng-container matColumnDef="QN">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>QN</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.QN }}
              </td>
            </ng-container>

            <ng-container matColumnDef="patientName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                patientName
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.patientName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="checker_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                checker_id
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.checker_id }}
              </td>
            </ng-container>
            <ng-container matColumnDef="checker_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                checker_name
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.checker_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="check_time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                check_time
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.check_time }}
              </td>
            </ng-container>
            <ng-container matColumnDef="dispenser_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                dispenser_id
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.dispenser_id }}
              </td>
            </ng-container>
            <ng-container matColumnDef="dispenser_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                dispenser_name
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.dispenser_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="dispens_time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                dispens_time
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.dispens_time }}
              </td>
            </ng-container>
            <ng-container matColumnDef="createDT_Q">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                createDT_Q
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.createDT_Q }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns4"></tr>
          </table>
        </section>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="
              exporter4.exportTable('xlsx', {
                fileName: nameExcel,
                sheet: 'sheet_name',
                Props: { Author: 'Talha' }
              })
            "
          >
            Excel
          </button>

          <mat-paginator
            #MatPaginator4="matPaginator"
            style="float: right"
            [length]="10"
            [pageSize]="10"
            [pageSizeOptions]="[10, 50, 100]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="รายงานจ่ายยา" [disabled]="dataUser.role === 'officer'">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field class="example-form-field" [style.width.px]="200">
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker5"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker5"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker5></mat-date-range-picker>
          </mat-form-field>
          &nbsp;
          <button
            (click)="valuechange()"
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>check_circle</mat-icon>
          </button>
          <button
            (click)="clearValue()"
            mat-icon-button
            color="accent"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select (selectionChange)="change($event)">
              <mat-option>None</mat-option>
              <mat-option value="1">จำนวน DRP </mat-option>
              <mat-option value="2">ประวัติ DRP</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter6($event)" #input6 />
            <mat-placeholder>ค้นหา</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive" #TABLE>
        <table
          mat-table
          matTableExporter
          [dataSource]="dataSource"
          #MatSort6="matSort"
          matSort
          #exporter6="matTableExporter"
          class="mat-elevation-z8"
          #table
        >
          <tr mat-header-row *matHeaderRowDef="matHeaderRowDef1"></tr>
          <tr mat-header-row *matHeaderRowDef="matHeaderRowDef2"></tr>
          <tr mat-header-row *matHeaderRowDef="matHeaderRowDef3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns6"></tr>
          <ng-container matColumnDef="phar">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
              เภสัชกร
            </th>
            <td mat-cell *matCellDef="let data">{{ data.phar }}</td>
          </ng-container>

          <ng-container matColumnDef="numHN">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
              จำนวนครั้ง (HN)
            </th>
            <td mat-cell *matCellDef="let data">{{ data.numHN }}</td>
          </ng-container>

          <ng-container matColumnDef="drungCount">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
              จำนวนรายการยา
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drungCount }}</td>
            <!-- This column doesn't generate <td> items, so no need to add a definition for them -->
          </ng-container>
          <ng-container matColumnDef="errorCount">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
              จำนวน DRP
            </th>
            <td mat-cell *matCellDef="let data">{{ data.errorCount }}</td>
            <!-- This column doesn't generate <td> items, so no need to add a definition for them -->
          </ng-container>
          <ng-container matColumnDef="drp">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="13">DRPs</th>
            <!-- This column doesn't generate <td> items, so no need to add a definition for them -->
          </ng-container>
          <ng-container matColumnDef="it">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
              Intervention to
            </th>
            <!-- This column doesn't generate <td> items, so no need to add a definition for them -->
          </ng-container>
          <ng-container matColumnDef="doi">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="9">
              Detial of Intervention
            </th>
            <!-- This column doesn't generate <td> items, so no need to add a definition for them -->
          </ng-container>

          <ng-container matColumnDef="roi">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">
              Result of Intervention
            </th>
            <!-- <td mat-cell *matCellDef="let data">{{data.yourFirstDataPoint}}</td> -->
          </ng-container>
          <ng-container matColumnDef="drp1">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              1. Untreated indication
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp1 }}</td>
          </ng-container>
          <ng-container matColumnDef="drp2">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              2. Improper drug selection
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp2 }}</td>
          </ng-container>

          <ng-container matColumnDef="drp3">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              3. Subtherapeutic dose
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp3 }}</td>
          </ng-container>
          <ng-container matColumnDef="drp4">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              4. Overdosage
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp4 }}</td>
          </ng-container>
          <ng-container matColumnDef="drp5">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              5. Adverse Drug Reaction
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp5 }}</td>
          </ng-container>

          <ng-container matColumnDef="drp6">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              6. Drug Interactions
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp6 }}</td>
          </ng-container>
          <ng-container matColumnDef="drp7">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              7. Medication use without indication
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp7 }}</td>
          </ng-container>
          <ng-container matColumnDef="drp8">
            <th mat-header-cell [attr.colspan]="5" *matHeaderCellDef>
              8. Failure to receive Medication
            </th>
            <!-- <td mat-cell *matCellDef="let data">Data 8</td> -->
          </ng-container>

          <ng-container matColumnDef="drp9">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              9. Duplicate Medication
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp9 }}</td>
          </ng-container>
          <ng-container matColumnDef="it1">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>Doctor</th>
            <td mat-cell *matCellDef="let data">{{ data.it1 }}</td>
          </ng-container>
          <ng-container matColumnDef="it2">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              Patient
            </th>
            <td mat-cell *matCellDef="let data">{{ data.it2 }}</td>
          </ng-container>
          <ng-container matColumnDef="doi1">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              1. ให้ความรู้ผู้ป่วย
            </th>
            <td mat-cell *matCellDef="let data">{{ data.doi1 }}</td>
          </ng-container>
          <ng-container matColumnDef="doi2">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              2. ให้หยุดยา
            </th>
            <td mat-cell *matCellDef="let data">{{ data.doi2 }}</td>
          </ng-container>

          <ng-container matColumnDef="doi3">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              3. ลดขนาดยา
            </th>
            <td mat-cell *matCellDef="let data">{{ data.doi3 }}</td>
          </ng-container>
          <ng-container matColumnDef="doi4">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              4. เพิ่มขนาดยา
            </th>
            <td mat-cell *matCellDef="let data">{{ data.doi4 }}</td>
          </ng-container>
          <ng-container matColumnDef="doi5">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              5. ให้ขนาดยาเดิม
            </th>
            <td mat-cell *matCellDef="let data">{{ data.doi5 }}</td>
          </ng-container>

          <ng-container matColumnDef="doi6">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              6. เปลี่ยนยา
            </th>
            <td mat-cell *matCellDef="let data">{{ data.doi6 }}</td>
          </ng-container>
          <ng-container matColumnDef="doi7">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              7. ปรับเวลาบริหารยา
            </th>
            <td mat-cell *matCellDef="let data">{{ data.doi7 }}</td>
          </ng-container>
          <ng-container matColumnDef="doi8">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              8.ปรับเทคนิคการบริหารยา
            </th>
            <td mat-cell *matCellDef="let data">{{ data.doi9 }}</td>
          </ng-container>

          <ng-container matColumnDef="doi9">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              9. อื่นๆ
            </th>
            <td mat-cell *matCellDef="let data">{{ data.doi9 }}</td>
          </ng-container>
          <ng-container matColumnDef="roi1">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              1. Accepted
            </th>
            <td mat-cell *matCellDef="let data">{{ data.roi1 }}</td>
          </ng-container>
          <ng-container matColumnDef="roi2">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              2. Partial Accept
            </th>
            <td mat-cell *matCellDef="let data">{{ data.roi2 }}</td>
          </ng-container>

          <ng-container matColumnDef="roi3">
            <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef>
              3. Not Accept
            </th>
            <td mat-cell *matCellDef="let data">{{ data.roi3 }}</td>
          </ng-container>

          <ng-container matColumnDef="drp8_1">
            <th mat-header-cell *matHeaderCellDef>
              8.1 Not understand the instructions
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp8_1 }}</td>
          </ng-container>
          <ng-container matColumnDef="drp8_2">
            <th mat-header-cell *matHeaderCellDef>
              8.2 Not the take medication
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp8_2 }}</td>
          </ng-container>

          <ng-container matColumnDef="drp8_3">
            <th mat-header-cell *matHeaderCellDef>
              8.3 Forget the take medication
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp8_3 }}</td>
          </ng-container>
          <ng-container matColumnDef="drp8_4">
            <th mat-header-cell *matHeaderCellDef>8.4 Incorrect storage</th>
            <td mat-cell *matCellDef="let data">{{ data.drp8_4 }}</td>
          </ng-container>
          <ng-container matColumnDef="drp8_5">
            <th mat-header-cell *matHeaderCellDef>
              8.5 Incorrect administration
            </th>
            <td mat-cell *matCellDef="let data">{{ data.drp8_5 }}</td>
          </ng-container>
        </table>
        <div>
          <!-- <button
            mat-raised-button
            color="primary"
            (click)="
              exporter6.exportTable('xlsx', {
                fileName: nameExcel,
                sheet: 'sheet_name',
                Props: { Author: 'Talha' }
              })
            "
          >
            Excel
          </button> -->
          <button mat-raised-button color="primary" (click)="ExportTOExcel()">
            Excel
          </button>

          <mat-paginator
            #MatPaginator6="matPaginator"
            style="float: right"
            [length]="10"
            [pageSize]="10"
            [pageSizeOptions]="[10, 50, 100]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="display: grid">
        <div>
          <mat-form-field class="example-full-width" style="float: right">
            <input matInput (keyup)="applyFilter5($event)" #input5 />
            <mat-placeholder>Search</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
        <section
          class="example-container mat-elevation-z8"
          tabindex="0"
          [hidden]="!dataSource5"
        >
          <table
            mat-table
            [dataSource]="dataSource5"
            #MatSort5="matSort"
            matSort
            matSortActive="hnDT"
            matSortDirection="desc"
            class="mat-elevation-z8"
            matTableExporter
            #exporter5="matTableExporter"
            [hiddenColumns]=""
          >
            <ng-container matColumnDef="hn">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                รหัสคนไข้
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.hn }}
              </td>
            </ng-container>

            <ng-container matColumnDef="location">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                ห้องยา
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.location }}
              </td>
            </ng-container>

            <ng-container matColumnDef="position_text">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                ตำแหน่งที่ผิด
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.position_text }}
              </td>
            </ng-container>
            <ng-container matColumnDef="type_text">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                รูปแบบความผิดพลาด
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.type_text }}
              </td>
            </ng-container>
            <ng-container matColumnDef="med_wrong_name">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                ชื่อยาผิด
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.med_wrong_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="med_wrong_text">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                รายละเอียดผิด
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.med_wrong_text }}
              </td>
            </ng-container>
            <ng-container matColumnDef="med_good_name">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                ชื่อยาถูก
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.med_good_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="med_good_text">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                รายละเอียดถูก
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.med_good_text }}
              </td>
            </ng-container>
            <ng-container matColumnDef="interceptor_name">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                ผู้ดักจับ
              </th>
              <td
                class="text-nowrap"
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.interceptor_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="offender_name">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                ผู้ก่อความคลาดเคลื่อน
              </th>
              <td
                class="text-nowrap"
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.offender_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="level">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                Level
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.level }}
              </td>
            </ng-container>

            <ng-container matColumnDef="occurrence">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                เวลาเกิดเหตุ
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.occurrence }}
              </td>
            </ng-container>
            <ng-container matColumnDef="source">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                แหล่งที่มา
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.source }}
              </td>
            </ng-container>
            <ng-container matColumnDef="error_type">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                Error Type
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.error_type }}
              </td>
            </ng-container>
            <ng-container matColumnDef="site">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                PCT / ห้องตรวจ
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.site }}
              </td>
            </ng-container>
            <ng-container matColumnDef="type_pre">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                ชนิดใบสั่งยา
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.type_pre }}
              </td>
            </ng-container>
            <ng-container matColumnDef="note">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                หมายเหตุ
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.note }}
              </td>
            </ng-container>
            <ng-container matColumnDef="hnDT">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-left: 10px"
              >
                วันที่
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.hnDT }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns5; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns5"></tr>
          </table>
        </section>
        <div [hidden]="!dataSource5">
          <button
            mat-raised-button
            color="primary"
            (click)="
              exporter5.exportTable('xlsx', {
                fileName: nameExcel5,
                sheet: 'sheet_name',
                Props: { Author: 'Talha' }
              })
            "
          >
            Export Excel
          </button>
          <mat-paginator
            style="float: right"
            #MatPaginator5="matPaginator"
            [length]="10"
            [pageSize]="10"
            [pageSizeOptions]="[10, 50, 100]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
