<mat-tab-group (selectedTabChange)="onTabChange($event.index)">
  <mat-tab label="MainDrug">
    <div class="container-fluid pt-2">
      <div class="row">
        <div class="col-lg">
          <button
            *ngIf="dataUser.role == 'admin'"
            type="button"
            class="btn btn-warning"
            data-toggle="modal"
            data-target="#myModal"
            data-backdrop="static"
            data-keyboard="false"
            (click)="funcAction(false); addPre.value = ''"
          >
            เพิ่มยา Main Drug&nbsp;<i class="fas fa-plus"></i>
          </button>
        </div>
        <div class="col-lg" style="text-align: right">
          <mat-form-field class="example-full-width">
            <input matInput (keyup)="applyFilter($event)" #input />
            <mat-placeholder>ค้นหา</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="responsive-table" [hidden]="!dataDrug">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table
            mat-table
            matTableExporter
            [dataSource]="dataSource"
            #MatSort="matSort"
            matSort
            class="mat-elevation-z8"
            matSortActive="orderitemcode"
            matSortDirection="desc"
          >
            <ng-container matColumnDef="orderitemcode" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.orderitemcode }}
              </td>
            </ng-container>

            <ng-container matColumnDef="genericname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.genericname }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Strength">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Strength
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.Strength }}
              </td>
            </ng-container>

            <ng-container matColumnDef="dosageunitcode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.dosageunitcode }}
              </td>
            </ng-container>

            <ng-container matColumnDef="dosegeform">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Form</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                {{ element.dosegeform }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-left: 20px; padding-right: 20px"
              >
                <div style="display: flex">
                  <button
                    *ngIf="dataUser.role == 'admin'"
                    type="button"
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#myModal"
                    data-backdrop="static"
                    data-keyboard="false"
                    (click)="funcAction(element); addPre.value = ''"
                  >
                    Action
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    matTooltip="Print"
                    style="margin-left: 20px"
                    data-toggle="modal"
                    data-target="#edit"
                    data-backdrop="static"
                    data-keyboard="false"
                    (click)="printSticker(element)"
                  >
                    <i class="fas fa-print"></i>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </section>
        <mat-paginator
          #MatPaginator="matPaginator"
          [length]="10"
          [pageSize]="10"
          [pageSizeOptions]="[10, 50, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="PrePack">
    <div [hidden]="dataUser.role !== 'admin'">
      <div class="container-fluid pt-2">
        <mat-grid-list cols="2" rowHeight="5em">
          <mat-grid-tile>
            <button
              type="button"
              class="btn btn-primary bt-add"
              data-toggle="modal"
              data-target="#myModal"
              data-backdrop="static"
              data-keyboard="false"
              #addPre
              (click)="addPre.value = '1'; selectedOption = ''"
            >
              เพิ่มยา PrePack &nbsp;<i class="fas fa-plus"></i></button
          ></mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field
              class="example-full-width input-search"
              style="float: right"
            >
              <input matInput (keyup)="applyFilter2($event)" #input2 />
              <mat-placeholder>ค้นหา</mat-placeholder>
              <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
            </mat-form-field></mat-grid-tile
          >
        </mat-grid-list>

        <div class="responsive-table" [hidden]="!dataDrug">
          <section class="example-container mat-elevation-z8" tabindex="0">
            <table
              mat-table
              matTableExporter
              [dataSource]="dataSource2"
              #MatSort2="matSort"
              matSort
              class="mat-elevation-z8"
              matSortActive="deviceCode"
              matSortDirection="desc"
            >
              <ng-container matColumnDef="drugCode" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  drugCode
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="padding-left: 20px; padding-right: 20px"
                >
                  {{ element.drugCode }}
                </td>
              </ng-container>

              <ng-container matColumnDef="drugName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  drugName
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="padding-left: 20px; padding-right: 20px"
                >
                  {{ element.drugName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="deviceCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  deviceCode
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="padding-left: 20px; padding-right: 20px"
                >
                  {{ element.deviceCode }}
                </td>
              </ng-container>

              <ng-container matColumnDef="positionID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  positionID
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="padding-left: 20px; padding-right: 20px"
                >
                  {{ element.positionID }}
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Action
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="padding-left: 20px; padding-right: 20px"
                >
                  <button
                    type="button"
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#myModal"
                    data-backdrop="static"
                    data-keyboard="false"
                    (click)="funcAction(element); addPre.value = ''"
                  >
                    Action
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            </table>
          </section>
          <mat-paginator
            #MatPaginator2="matPaginator"
            [length]="10"
            [pageSize]="10"
            [pageSizeOptions]="[10, 50, 100]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title">Manage Drug</h2>
        <!-- <button type="button" class="close" data-dismiss="modal">
          &times;
        </button> -->
      </div>
      <form [formGroup]="valData" (ngSubmit)="submitInput(); input2.value = ''">
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group" *ngIf="addPre.value">
            <mat-form-field class="example-full-width">
              <mat-label>Select DrugCode</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="selectedOption"
                [formControl]="myControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                (optionSelected)="getPosts($event.option.value)"
                autoActiveFirstOption
                #auto="matAutocomplete"
              >
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <label><strong>Code</strong></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="code"
                  [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                />
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                <label><strong>Name</strong></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <label><strong>Capacity</strong></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="capacity"
                  [ngClass]="{ 'is-invalid': submitted && f.capacity.errors }"
                />
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                <label><strong>Capacity Unit</strong></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="capacity_unit"
                  [ngClass]="{
                    'is-invalid': submitted && f.capacity_unit.errors
                  }"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <label><strong>Unit</strong></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="unit"
                  [ngClass]="{ 'is-invalid': submitted && f.unit.errors }"
                />
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                <label><strong>Form</strong></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="form"
                  [ngClass]="{ 'is-invalid': submitted && f.form.errors }"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <label><strong>Pack</strong></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="pack"
                  [ngClass]="{ 'is-invalid': submitted && f.pack.errors }"
                />
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                <label><strong>Firm Name</strong></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firmname"
                  [ngClass]="{ 'is-invalid': submitted && f.firmname.errors }"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button
            type="button"
            (click)="onReset()"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="edit" class="modal fade">
  <div class="modal-dialog modal-confirm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Print Sticker</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>

      <form [formGroup]="inputGroup2" (ngSubmit)="printSubmit()">
        <div class="modal-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">ชื่อยา</span>
            </div>
            <input
              [ngClass]="{ 'is-invalid': submitPrint && p.name.errors }"
              type="text"
              class="form-control"
              formControlName="name"
              required
            />
          </div>
          <br />
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">LotNo.</span>
            </div>

            <input
              [ngClass]="{ 'is-invalid': submitPrint && p.lotno.errors }"
              type="text"
              class="form-control"
              formControlName="lotno"
            />
          </div>
          <br />
          <div class="input-group">
            <mat-form-field>
              <mat-label>วันผลิต</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="mfd" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <br />
          <div class="input-group">
            <mat-form-field>
              <mat-label>วันหมดอายุ</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="exp" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
