<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="text-center" style="margin: 10px">
      <img
        src="assets/ดาวน์โหลด.jfif"
        class="w3-round"
        style="text-align: center"
        width="180px"
        height="180px"
      />
    </div>

    <mat-nav-list>
      <!-- <a mat-list-item [routerLink]="['/drug-device']" [routerLinkActive]="['active']"><i class="fas fa-tablets"></i>
        &nbsp; <strong>Drug Stock</strong>

      </a> -->

      <a
        *ngIf="dataUser != 'ipd'"
        style="margin-bottom: 4px"
        mat-list-item
        [routerLink]="['/manage-system']"
        [routerLinkActive]="['active']"
        (click)="togglePanel()"

        ><i class="fas fa-cog"></i>&nbsp;<strong>Manage System</strong>
      </a>
      <a
        *ngIf="dataUser == 'admin'"
        style="margin-bottom: 4px"
        mat-list-item
        [routerLink]="['/search-drug']"
        [routerLinkActive]="['active']"
        (click)="togglePanel()"
        ><i class="fas fa-search-plus"></i>&nbsp;<strong>Search Drug</strong>
      </a>

      <a
        style="margin-bottom: 4px"
        mat-list-item
        [routerLink]="['/check-in']"
        [routerLinkActive]="['active']"
        (click)="togglePanel()"
        ><i class="far fa-calendar-check"></i>&nbsp;<strong>Door Report</strong>
      </a>

      <mat-expansion-panel
        [expanded]="panelIpd"
        dense
        *ngIf="dataUser == 'ipd' || dataUser == 'admin'"
      >
        <mat-expansion-panel-header (click)="togglePanel2()">
          <strong><i class="fas fa-syringe"></i> &nbsp; IPD</strong>
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a
            mat-list-item
            [routerLink]="['/ipd/ap-med']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-capsules"></i>&nbsp;AP - Med
          </a>
        </mat-nav-list>

        <mat-nav-list dense>
          <a
            mat-list-item
            [routerLink]="['/ipd/med-manage']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-tasks"></i>&nbsp;Med - Manage
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel
        [expanded]="panelOpd"
        dense
        *ngIf="dataUser == 'opd' || dataUser == 'admin'"
      >
        <mat-expansion-panel-header
          (click)="togglePanel3()"
          [routerLink]="['/opd/drug']"
        >
          <strong> <i class="fas fa-notes-medical"></i> &nbsp; OPD</strong>
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a
            mat-list-item
            [routerLink]="['/opd/el-med']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-capsules"></i>&nbsp;EL - Med
          </a>
          <a
            mat-list-item
            [routerLink]="['/opd/se-med']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-pills"></i>&nbsp;SE - Med
          </a>
          <a
            mat-list-item
            [routerLink]="['/opd/other-med']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-tablets"></i>&nbsp;Other - Med
          </a>
          <a
            mat-list-item
            [routerLink]="['/opd/report-dispense']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-clinic-medical"></i>&nbsp;Report &nbsp;Dispense
          </a>
          <a
            mat-list-item
            [routerLink]="['/opd/report-phar']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-user-nurse"></i>&nbsp;Report &nbsp;Phar
          </a>

          <a
            mat-list-item
            [routerLink]="['/opd/patient-list']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-user-injured"></i>&nbsp;Patient - List
          </a>
          <a
            mat-list-item
            [routerLink]="['/opd/drug-appoint']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-notes-medical"></i>&nbsp;Drug - Appoint
          </a>
          <a
            mat-list-item
            [routerLink]="['/opd/temperature-monitor']"
            [routerLinkActive]="['active']" (click)="checkinnerWidth()"
          >
            <i class="fas fa-temperature-low"></i>&nbsp;Temperature - Monitor
          </a>

          <!-- <a mat-list-item [routerLink]="['/opd/pharmacist-statistics']" [routerLinkActive]="['active']">
            <i class="fas fa-user-nurse"></i>&nbsp;Pharmacist &nbsp;Statistics
          </a>



          <!-- <a mat-list-item routerLink="#">
            <mat-icon>visibility</mat-icon>Profile Visibility
          </a> -->
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- <a mat-list-item [routerLink]="['/tsd']" [routerLinkActive]="['active']"><i
          class="fas fa-ambulance"></i>&nbsp;<strong>Test Send Drug</strong>

      </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <i class="fas fa-bars"></i>
      </button>

      <h1 class="div">
        <strong class="text-nav">MED STOCK ROBOT</strong>
      </h1>

      <span style="flex: 1 1 auto; text-align: right">
        <button type="button" class="btn btn-danger" (click)="signOut()">
          <i class="fas fa-sign-out-alt"></i>&nbsp; Sign Out
        </button></span
      >
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
