.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.mat-list-item.active {
  color: #053742;
  background-color: #7a84bb33;
}

.sidenav-container {
  height: 100%;
}

.sidenav {

  // background: rgb(243, 243, 243);
  box-shadow: 1px 0px 4px 0 rgba(0, 0, 0, 0.3);
}

.mat-toolbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  // background: rgb(103, 58, 183);
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;

}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  color: #053742 !important;
  background-color: #7a84bb33 !important;
}

.mat-expansion-panel-body {
  padding: 0 0px 16px;
}


.grad1 {

  background: #053742;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #053742, #39A2DB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #053742, #39A2DB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #053742, #39A2DB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #053742, #39A2DB);
  /* Standard syntax (must be last) */
}
