.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: relative;
  top: 0;
  z-index: 1;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  // background: rgb(243, 243, 243);
  box-shadow: 1px 0px 4px 0 rgba(0, 0, 0, 0.3);
}

.mat-toolbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #1976d2;
  color: #e0f7fa;

  position: sticky;
  top: 0;
  z-index: 2;
  height: 50px;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
.text-nav {
  font-size: 20px !important;
}

.name-bar {
  display: contents;
}

@media only screen and (max-width: 600px) {
  .text-nav {
    font-size: 20px !important;
  }

  .text-center.name-bar {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .text-nav {
    font-size: 10px;
  }
  .name-bar {
    display: none;
  }
}

.mat-list-item.active {
  background-color: #1976d2 !important;
  color: #e0f7fa !important;
}

.mat-menu-item {
  font-family: "Sarabun", serif;
}
::ng-deep .mat-expansion-panel .mat-list-item {
  padding-left: 15px !important;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #1976d2 !important;
  color: #e0f7fa !important;
}

.mat-expansion-panel-body {
  padding: 0 0px 16px;
}

// span.mat-expansion-indicator {
//   pointer-events: visiblefill !important;
// }

// mat-expansion-panel-header {
//   pointer-events: none;
// }
