table{
  width: 100%;
 }

//  th{
//   background-color: #e7e4e488;
// }
 th{
  border-right: 1px solid #E0E0E0;
  text-align: center;
  background-color: #e7e4e488;
  padding-left: 10px !important;

}
 td{
  border-right: 1px solid #E0E0E0;
}

mat-accordion {
  flex-grow: 1;
}

.example-container {
  max-width: 100%;
  overflow: auto;
  // height: 400px;
  // width: 550px;
}

@media only screen and (max-width: 600px) {

  .example-container {
    // max-width: 100%;
    // overflow: auto;
    height: 400px;
    // width: 550px;
  }


  // .input-search{
  //   width: 90%;
  // }


}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}


