/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #3f51b5;
}

body {
  margin: 0;
}

* {
  font-family: "Sarabun", serif;
}

@font-face {
  font-family: SpaceQuest;
  src: url("./assets/OmegleRegular-owopB.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons" !important;
}

.mat-drawer-content {
  position: initial !important;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.modal-backdrop {
  display: none !important;
}

.modal {
  background: rgba(0, 0, 0, 0.3);
}

tr:hover {
  background-color: #e7e4e4;
}

mat-form-field {
  line-height: unset !important;
}

.mat-paginator {
  background: rgba(255, 255, 255, 0) !important;
}

mat-paginator {
  display: flex !important;
  justify-content: center !important;
}

th {
  border-right: 1px solid #e0e0e0;
  background-color: #e7e4e488;
  padding-left: 50px;
}

td {
  border-right: 1px solid #e0e0e0;
}

.mat-sort-header-content {
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 20px !important;
}

table {
  width: 100%;
}

.mat-expansion-panel-body {
  padding: 0 0px 5px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3f51b5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
