/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #3f51b5;
}

body {
  margin: 0;
}

* {
  font-family: "Sarabun", serif;
  // font-size: 19px !important;
}

@font-face {
  font-family: Sarabun;
  src: url("./assets/Sarabun-Regular.ttf") format("truetype");
}

@font-face {
  font-family: SpaceQuest;
  src: url("./assets/OmegleRegular-owopB.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/materailIcon.woff2") format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  // -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

// .material-icons {
//   font-family: "Material Icons" !important;
// }

.mat-drawer-content {
  position: initial !important;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.modal-backdrop {
  display: none !important;
}

.modal {
  background: rgba(0, 0, 0, 0.3);
}

tr:hover {
  background-color: #e7e4e4;
}

mat-form-field {
  line-height: unset !important;
  overflow: visible !important;
}
.mat-select-value {
  overflow: visible !important;
}

.mat-paginator {
  background: rgba(255, 255, 255, 0) !important;
}

th {
  border-right: 1px solid #e0e0e0;
  background-color: #e7e4e488;
  padding-left: 50px;
}

td {
  border-right: 1px solid #e0e0e0;
}

.mat-sort-header-content {
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 20px !important;
}

.mat-expansion-panel-body {
  padding: 0 0px 5px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3f51b5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-paginator-range-label {
  margin: 0 0 0 0 !important;
}

.example-container {
  max-width: 100%;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .example-container {
    height: 400px;
  }
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.mat-column-EXP_Date {
  white-space: nowrap;
}

.mat-column-LOT_NO {
  white-space: nowrap;
}

table {
  width: 100% !important;
}

.mat-h2,
.mat-title,
.mat-typography h2 {
  font: 500 20px/32px "Sarabun", serif;
  letter-spacing: normal;
  margin: 0 0 1px;
}

.mat-drawer.mat-drawer-side {
  z-index: 1 !important;
}

html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, #1976d2 0%, #004d80 100%);
  color: #212121;
}

* {
  font-family: "Sarabun", sans-serif;
  box-sizing: border-box;
}

.mat-mdc-raised-button.mat-primary {
  background-color: #0288d1 !important;
}
