::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  color: #3f51b5;
  font-weight: bold;
}

// .modal-confirm {
//   color: #636363;
//   width: 550px;
// }

// .modal-confirm .modal-content {
//   padding: 20px;
//   border-radius: 5px;
//   border: none;
// }

// .modal-confirm .modal-header {
//   padding: 0 15px;
//   border-bottom: none;
//   position: relative;
// }

// .modal-confirm h4 {
//   display: inline-block;
//   font-size: 26px;
// }

// .modal-confirm .close {
//   position: absolute;
//   top: -5px;
//   right: -5px;
// }

// .modal-confirm .modal-body {
//   color: #999;
// }

// .modal-confirm .modal-footer {
//   background: #ecf0f1;
//   border-color: #e6eaec;
//   text-align: right;
//   margin: 0 -20px -20px;
//   border-radius: 0 0 5px 5px;
// }

// .modal-confirm .btn {
//   color: #fff;
//   border-radius: 4px;
//   transition: all 0.4s;
//   border: none;
//   padding: 8px 20px;
//   outline: none !important;
// }

// .modal-confirm .btn-info {
//   background: #b0c1c6;
// }

// .modal-confirm .btn-info:hover,
// .modal-confirm .btn-info:focus {
//   background: #92a9af;
// }

// .modal-confirm .btn-danger {
//   background: #f15e5e;
// }

// .modal-confirm .btn-danger:hover,
// .modal-confirm .btn-danger:focus {
//   background: #ee3535;
// }

// .modal-confirm .modal-footer .btn + .btn {
//   margin-left: 10px;
// }

// .modal-dialog {
//   min-height: calc(100vh - 60px);
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   @media (max-width: 768px) {
//     min-height: calc(100vh - 20px);
//   }
// }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.example-container {
  max-width: 100%;
  overflow: auto;
}
@media only screen and (max-width: 600px) {
  .example-container {
    height: 400px;
  }
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.mat-column-Action {
  white-space: nowrap;
}
