<mat-tab-group>
  <mat-tab label="List Stock">

    <div style="margin: 10px;" [hidden]="dataDrug==null">

      <mat-form-field>
        <mat-label>SELECT TYPE</mat-label>
        <mat-select (selectionChange)="getDataPrepack($event.value);input.value = ''">
          <mat-option value="All">All</mat-option>
          <mat-option value="N">Main Drug</mat-option>
          <mat-option value="Y">Prepack</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="float: right;">
        <input matInput (keyup)="applyFilter($event)" #input>
        <mat-placeholder>ค้นหา</mat-placeholder>
        <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
      </mat-form-field>




      <table mat-table [dataSource]="dataSource" #SortT1="matSort" matSort class="mat-elevation-z8" matTableExporter
        #exporter="matTableExporter" matSortActive="totalQty" matSortDirection="desc" [hiddenColumns]="[8]">


        <ng-container matColumnDef="drugCode">
          <th style=" visibility: hidden;" mat-header-cell *matHeaderCellDef mat-sort-header
            style="padding-left: 10px;"> Code </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;">
            {{element.drugCode}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> Name </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;"> {{element.Name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Spec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> Spec </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;"> {{element.Spec}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> Quantity </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;">
            {{element.Quantity}}
          </td>
        </ng-container>


        <ng-container matColumnDef="Maximum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> Maximum </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;">
            {{element.Maximum}}
          </td>
        </ng-container>

        <ng-container matColumnDef="percenStock">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock <br>( % ) </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;">
            {{element.percenStock}}
          </td>
        </ng-container>
        <!--
        <ng-container matColumnDef="totalQty">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> totalQty </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;">
            {{element.totalQty}}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="drugLocation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> Location </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;">
            {{element.drugLocation}}

          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="drugLocation" *ngIf=1+1=2>
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> Location </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;">
            {{element.drugLocation}}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
          <td mat-cell *matCellDef="let payment"> <button type="button" class="btn btn-warning"
              style="margin-left: 20px;" data-toggle="modal" data-target="#myModal" data-backdrop="static"
              data-keyboard="false" (click)="clickData(payment)">Edit</button>
          </td>
        </ng-container>
        <!--
          <ng-container matColumnDef="isPrepack">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> isPrepack </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;">
              {{element.isPrepack}}
            </td>
          </ng-container> -->




        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div style="float: right;"><button mat-raised-button color="primary"
          (click)="exporter.exportTable('xlsx', {fileName:nameStock, sheet: 'sheet_name', Props: {Author: 'Talha'}})">Export
          Excel</button>
        <!-- <button mat-raised-button color="primary" (click)="exporter.exportTable('csv')">Csv</button>
          <button mat-raised-button color="primary" (click)="exporter.exportTable('json')">Json</button>
          <button mat-raised-button color="primary" (click)="exporter.exportTable('txt')">Txt</button> -->
      </div>
      <mat-paginator #paginator="matPaginator" [length]="10" [pageSize]="10" [pageSizeOptions]="[10, 50, 100]"
        showFirstLastButtons>
      </mat-paginator>










    </div>

  </mat-tab>



  <mat-tab label="Dispense">
    <div style="margin: 10px;">
      <div class="row">
        <div class="col-lg-3">
          <mat-form-field class="example-form-field" style="float:left">
            <mat-label>เลือกวันที่</mat-label>
            <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker"
              [comparisonStart]="campaignOne.value.start" [comparisonEnd]="campaignOne.value.end">
              <input matStartDate placeholder="วันที่เริ่มต้น" formControlName="start"
                (dateChange)="startChange($event)">
              <input matEndDate placeholder="วันที่สิ้นสุด" formControlName="end" (dateChange)="endChange($event)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field>
            <mat-label>SELECT TYPE</mat-label>
            <mat-select (selectionChange)="PrepackDispense($event.value);input.value = ''">
              <mat-option value="All">All</mat-option>
              <mat-option value="N">Main Drug</mat-option>
              <mat-option value="Y">Prepack</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3" style="float: right;text-align: right">
          <mat-form-field class="example-full-width" *ngIf="dataSEDispense">
            <input matInput (keyup)="applyFilter2($event)" #input>
            <mat-placeholder>ค้นหา</mat-placeholder>
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div [hidden]="!dataSEDispense">

        <table mat-table [dataSource]="dataSource2" #SortT2="matSort" matSort class="mat-elevation-z8" matTableExporter
          #exporter1="matTableExporter" matSortActive="totalQty" matSortDirection="desc">


          <ng-container matColumnDef="Code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> Code </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;"> {{element.drugCode}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> Name </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;"> {{element.Name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Spec">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> Firm Name </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;"> {{element.Spec}}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalQty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;"> totalQty </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 20px;padding-right: 20px;"> {{element.totalQty}}
            </td>
          </ng-container>







          <tr mat-header-row *matHeaderRowDef="displayedColumns2;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
        <div style="float: right;"><button mat-raised-button color="primary"
            (click)="exporter1.exportTable('xlsx', {fileName:nameSEDispense, sheet: 'sheet_name', Props: {Author: 'Talha'}})">Export
            Excel</button>
          <!-- <button mat-raised-button color="primary" (click)="exporter.exportTable('csv')">Csv</button>
          <button mat-raised-button color="primary" (click)="exporter.exportTable('json')">Json</button>
          <button mat-raised-button color="primary" (click)="exporter.exportTable('txt')">Txt</button> -->
        </div>
        <mat-paginator MatPaginator #paginator2="matPaginator" [length]="10" [pageSize]="10"
          [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>

    </div>
  </mat-tab>

</mat-tab-group>


<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <form [formGroup]="inputGroup" (ngSubmit)="updateData()">
        <div class="modal-body">

          <input class="form-control" type="text" formControlName="location">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

        </div>
      </form>
    </div>
  </div>
